<%= link_to "How to Create Public Key & Signature", public_key_faq_path %>

<%= form_tag public_keys_url(org_id: @org_id), method: :post do |f| %>
  <% unless @public_keys.count.zero? %>
    <div class="field ds-u-margin-y--3">
      <%= label_tag :label, "Label", class: "ds-c-label" %>
      <%= text_field_tag :label, params[:label], class: "ds-c-field" %>
    </div>
  <% else %>
    <%= hidden_field_tag :org_name, @org[:name] %>
    <%= hidden_field_tag :ips, [] %>
  <% end %>
  <div class="field ds-u-margin-y--3">
    <%= label_tag :public_key, "Public Key", class: "ds-c-label" %>
    <%= text_area_tag :public_key, params[:label], class: "ds-c-field" %>
  </div>
  <div class="field ds-u-margin-y--3">
    <%= label_tag :snippet_signature, "Signature Snippet", class: "ds-c-label" %>
    <%= text_area_tag :snippet_signature, params[:label], class: "ds-c-field" %>
  </div>
  <div>
    <%= submit_tag "Add key", class: "ds-c-button ds-c-button--primary key-subitbtn", data: { test: "form-submit" } %>
  </div>
<% end %>