<div>
  <div>
    <%= form_tag public_keys_url(org_id: @org_id), method: :post do |f| %>
      <% if @public_keys.count.zero? %>
        <%= hidden_field_tag :org_name, @org[:name] %>
      <% end %>
      <div class="field ds-u-margin-y--3">
        <%= label_tag :public_key, "Public Key", class: "ds-c-label" %>
        <%= text_area_tag :public_key, params[:label], class: "ds-c-field" %>
      </div>
      <div class="field ds-u-margin-y--3">
        <%= label_tag :signature, "Signature Snippet", class: "ds-c-label" %>
        <%= text_area_tag :signature, params[:label], class: "ds-c-field" %>
      </div>
      <div>
        <%= submit_tag "Add key", class: "ds-c-button ds-c-button--primary key-subitbtn", data: { test: "form-submit" } %>
      </div>
    <% end %>
  </div>

  <div class="ds-u-margin-top--4">
    <%= render partial: 'public_keys/create_public_key' %>
  </div>
</div>