<%= link_to "How to Create Public Key & Signature", public_key_faq_path %>

<%= form_tag public_keys_path, method: :post do |f| %>
  <div class="field ds-u-margin-y--5">
    <%= label_tag :label, "Label", class: "ds-c-label" %>
    <%= text_field_tag :label, params[:label], class: "ds-c-field" %>
  </div>
  <div class="field ds-u-margin-y--5">
    <%= label_tag :public_key, "Public Key", class: "ds-c-label" %>
    <%= text_area_tag :public_key, params[:label], class: "ds-c-field" %>
  </div>
  <div class="field ds-u-margin-y--5">
    <%= label_tag :snippet_signature, "Signature Snippet", class: "ds-c-label" %>
    <%= text_area_tag :snippet_signature, params[:label], class: "ds-c-field" %>
  </div>
  <div>
    <%= submit_tag "Add key", class: "ds-c-button ds-c-button--primary key-subitbtn", data: { test: "form-submit" } %>
  </div>
<% end %>