<% title "Log in" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-bottom--1 ds-u-margin-x--auto">
    <div class="card card--border-top card--shadow">
      <%= render partial: 'shared/alerts', locals: { notice: flash[:notice], alert: flash[:alert] } %>

      <h1 class="ds-u-margin-top--0">Log in</h1>

      <div>
        <strong>This sandbox experience is designed for developers.</strong> If you are a healthcare provider interested in learning more about DPC, please see our Information for Providers for more information.
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { test: 'user-sign-in-form' }) do |f| %>
        <div class="field">
          <%= f.label :email, class: "ds-c-label" %>
          <%= f.email_field :email, autocomplete: "email", class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "ds-c-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "ds-c-field" %>
        </div>

        <div class="actions ds-u-margin-top--3">
          <%= f.submit "Log in", class: "ds-c-button ds-c-button--primary", data: { test: "submit" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-x--auto">
    <div class="card">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>