<div>
  <h1><%= @organization.name %></h1>
  <div class="margin-bottom-3 display-flex flex-row flex-start" style="gap:20px;">
    <div><span class="text-bold">NPI-2:</span> <%= @organization.npi %></div>
    <div><span class="text-bold">Role:</span> <%= @role %></div>
    <div><span class="text-bold">Status:</span> <%= @status %></div>
  </div>
  <div class="margin-bottom-3"><span class="text-bold">Authorized Official:</span> <%= @organization.ao %></div>
  <div class="margin-bottom-5"><span class="text-bold">Organization ID:</span> <%= @organization.dpc_api_organization_id %></div>
  <%= render(Core::Navigation::TabbedComponent.new('organization_nav', @links)) if @show_cds %>
  <%= render(Page::CredentialDelegate::ListComponent.new(@organization, @pending_credential_delegates, @expired_cd_invitations, @active_credential_delegates,)) if @show_cds %>
  <%= render(Page::Organization::CredentialsComponent.new(@organization)) %>
</div>
