<div id="credentials">
  <%= render(Core::Card::BasicComponent.new(text_content: '<h2>Client tokens</h2>',
      button_params: { name: 'Generate token', path: new_organization_client_token_path(@organization.path_id), method: :get, class: 'margin-0'} )) do %>
    <div>
      <p>Client tokens monitor who's accessing the API with your organization credentials.</p>
      <% if @organization.client_tokens.present? %>
        <%= render(Core::Table::TableComponent.new(id: 'client-tokens-table', additional_classes: ['width-full'], sortable: true)) do %>
          <%= render(Core::Table::HeaderComponent.new(caption: 'Client token table',
                                                      columns: ['Label', 'Expiration Date', 'Creation Date', ''],
                                                      sorts: (0..2).to_a)) %>
          <%= render(Core::Table::RowComponent.with_collection(@organization.client_tokens, keys: ['label', 'expiresAt', 'createdAt'], delete_path: organization_client_tokens_path(@organization.path_id), obj_name: 'client token')) %>
        <% end %>
      <% else %>
        <p>You have no client tokens.</p>
      <% end %>
    </div>
  <% end %>
  <%= render(Core::Card::BasicComponent.new(text_content: '<h2>Public keys</h2>',
      button_params: { name: 'Add key', path: new_organization_public_key_path(@organization.path_id), method: :get,  class: 'margin-0'} )) do %>
    <div>
      <p>Public keys verify that client token requests come from an authorized application.</p>
      <% if @organization.public_keys.present? %>
      <%= render(Core::Table::TableComponent.new(id: 'public-keys-table', additional_classes: ['width-full'], sortable: true)) do %>
          <%= render(Core::Table::HeaderComponent.new(caption: 'Public key table',
                                                      columns: ['Label', 'Key ID', 'Creation Date', ''],
                                                      sorts: (0..2).to_a)) %>
          <%= render(Core::Table::RowComponent.with_collection(@organization.public_keys, keys: ['label', 'id', 'createdAt'], delete_path: organization_public_keys_path(@organization.path_id), obj_name: 'public key')) %>
        <% end %>
      <% else %>
        <p>You have no public keys.</p>
      <% end %>
    </div>
  <% end %>

  <%= render(Core::Card::BasicComponent.new(text_content: '<h2>Public IP addresses</h2>',
      button_params: { name: 'Add IP', path: new_organization_ip_address_path(@organization.path_id), method: :get, class: 'margin-0'} )) do %>
    <div>
      <p>Provide a maximum of 8 public IP addresses associated with systems that will access claims data.</p>
      <% if @organization.public_ips.present? %>
        <%= render(Core::Table::TableComponent.new(id: 'public-ips-table', additional_classes: ['width-full'], sortable: true)) do %>
          <%= render(Core::Table::HeaderComponent.new(caption: 'Public IP address table',
                                                      columns: ['Label', 'Public IP', 'Date Added', ''],
                                                      sorts: (0..2).to_a)) %>
          <%= render(Core::Table::RowComponent.with_collection(@organization.public_ips, keys: ['label', 'ip_addr', 'createdAt'], delete_path: organization_ip_addresses_path(@organization.path_id), obj_name: 'IP address')) %>
        <% end %>
      <% else %>
        <p>You have no public IP addresses.</p>
      <% end %>
    </div>
  <% end %>
</div>
