<div>
  <div class="margin-bottom-5">&larr; <%= link_to 'Back', organizations_path %></div>
  <%= render(Core::Card::BasicComponent.new(text_content: <<~HTML
    <h1>#{@organization.name}</h1>
    <div><strong>NPI</strong> #{@organization.npi}</div>
    HTML
    )) %>

  <%= render(Core::Card::BasicComponent.new(text_content: '<h2>Client Tokens</h2>',
      button_params: { name: 'Generate token', path: new_organization_client_token_path(@organization.path_id), method: :get} )) do %>
    <div>
      <% if @organization.client_tokens.present? %>
        <%= render(Core::Table::TableComponent.new(id: 'client-tokens-table', additional_classes: ['width-full'], sortable: true)) do %>
          <%= render(Core::Table::HeaderComponent.new(caption: 'Client Token Table',
                                                      columns: ['Label', 'Expiration Date', 'Creation Date', ''],
                                                      sort: 2)) %>
          <%= render(Core::Table::RowComponent.with_collection(@organization.client_tokens, keys: ['label', 'expiresAt', 'createdAt'], delete_path: organization_client_tokens_path(@organization.path_id))) %>
        <% end %>
      <% else %>
        <p>Before you can access production data, you must create a unique client token for each application or vendor that will have access to API.</p>
      <% end %>
    </div>
  <% end %>
  <%= render(Core::Card::BasicComponent.new(text_content: '<h2>Public Keys</h2>',
      button_params: { name: 'Create key', path: new_organization_public_key_path(@organization.path_id), method: :get} )) do %>
    <div>
      <% if @organization.public_keys.present? %>
      <%= render(Core::Table::TableComponent.new(id: 'public-keys-table',
          additional_classes: ['width-full'], sortable: true)) do %>
          <%= render(Core::Table::HeaderComponent.new(caption: 'Public Key Table',
                                                      columns: ['Label', 'Key ID', 'Creation Date', ''],
                                                      sort: 2)) %>
          <%= render(Core::Table::RowComponent.with_collection(@organization.public_keys, keys: ['label', 'id', 'createdAt'], delete_path: organization_public_keys_path(@organization.path_id))) %>
        <% end %>
      <% else %>
        <p>Before you can access production data, add your public keys to get a UUID that you will use when you authenticate access.</p>
      </p>
      <% end %>
    </div>
  <% end %>

  <%= render(Core::Card::BasicComponent.new(text_content: '<h2>Public IPs</h2>',
      button_params: { name: 'Add IP', path: root_path, method: :get} )) do %>
    <div>
      <% if @organization.public_ips.present? %>
        <%= render(Core::Table::TableComponent.new(id: 'public-ips-table', additional_classes: ['width-full'], sortable: true)) do %>
          <%= render(Core::Table::HeaderComponent.new(caption: 'Public IP Table',
                                                      columns: ['Label', 'Public IP', 'Date Added', ''],
                                                      sort: 2)) %>
          <%= render(Core::Table::RowComponent.with_collection(@organization.public_ips, keys: ['label', 'ip_addr', 'createdAt', 'X'])) %>
        <% end %>
      <% else %>
        <p>Before you can access production data, you must provide a public IP address (max of 8).</p>
      <% end %>
    </div>
  <% end %>
</div>
