<ul class="list">
  <% @client_tokens.each_with_index do |token, index| %>
    <li class="list_item  flex-row-spc-btwn">
      <div class="item_info">
        <div class="item_label">
          <%= token['label'] %>
        </div>
        <div>
          Created: <%= token['creation_date'].to_s(:long) %>
        </div>
        <div>
          Expires: <%= token['expires_at'].to_s(:long) %>
        </div>
      </div>

      <div class="credential__delete usa-accordion">
        <button id="button<%= index +1 %>" class="usa-accordion__button credential__delete_button" aria-expanded="false" aria-controls="collapse_token<%= index +1 %>">
          X
        </button>
        <div id="collapse_token<%= index +1 %>" class="credential__btn_container usa-accordion__content">
          <div class="credential__text">
            Delete Token?
          </div>
          <div class="credential__actions">
            <button class="credential__cancel_btn" onclick="collapseButtons('button<%= index +1 %>', 'collapse_token<%= index +1 %>')">
              Cancel
            </button>
            <%= button_to "Delete", client_token_path(id: token['uuid'], org_id: @org_id), method: :delete, class: "ds-c-button ds-c-button--danger ds-u-float--right" %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>