<ul class="list">
  <% @public_keys.each_with_index do |key, index| %>
    <li class="list_item flex-row-spc-btwn">
      <div class="item_info">
        <div class="item_id">
          ID: <%= key['id'] %>
        </div>
        <div>
          Created: <%= key['creation_date'] %>
        </div>
      </div>

      <div class="credential__delete usa-accordion">
        <button id="button<%= index +1 %>" class="usa-accordion__button credential__delete_button" aria-expanded="false" aria-controls="collapse_key<%= index +1 %>">
          X
        </button>
        <div id="collapse_key<%= index +1 %>" class="credential__btn_container usa-accordion__content">
          <div class="credential__text">
            Delete Public Key?
          </div>
          <div class="credential__actions">
            <button class="credential__cancel_btn" onclick="collapseButtons('button<%= index +1 %>', 'collapse_key<%= index +1 %>')">
              Cancel
            </button>
            <%= button_to "Delete", public_key_path(id: key['id'], org_id: @org_id), method: :delete, class: "ds-c-button ds-c-button--danger ds-u-float--right" %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>