<% title @org[:name] %>

<div class="ds-u-margin-bottom--6" id="dashboard__title">
  <div>
    <%= link_to "Back to Portal", root_path %>
  </div>

  <h1 class="ds-text-heading--4xl ds-title"><%= @org[:name] %></h1>
  <div>
    <div>
      <strong>Org ID:</strong> <%= @org[:id] %>
    </div>
    <div>
      <strong>Provider NPI:</strong> <%= @npi %>
    </div>
    <div>
      <strong>Organization Status: <span class="<%= active_status_class if status_active?(@status) %>"><%= @status %></span></strong>
    </div>
  </div>
</div>

<div id="dashboard__content">
  <div id="dash_content_nav_container">
    <%= render partial: 'shared/need-help' %>
  </div>

  <div id="dash_content">
    <div class="porg_container" id="client_tokens_container">
      <div class="header-container">
        <h2>Client Tokens</h2>
      </div>
      <% if @client_tokens.count.zero? %>
        There are currently no client token associated with this provider organization.
      <% else %>
        <ul class="list">
          <% @client_tokens.each do |token| %>
            <li class="list_item">
              <div class="item_info">
                <div class="item_label">
                  <%= token[:label] %>
                </div>
                <div>
                  Created: <%= token[:creation_date] %>
                </div>
                <div>
                  Expires: <%= token[:expires_at] %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="porg_container" id="public_keys_container">
      <div class="header-container">
        <h2>Public Keys</h2>
      </div>
      <% if @public_keys.count.zero? %>
        There are currently no public keys associated with this provider organization.
      <% else %>
        <ul class="list">
          <% @public_keys.each do |key| %>
            <li class="list_item">
              <div class="item_info">
                <div class="item_label">
                  <%= key[:label] %>
                </div>
                <div>
                  Created: <%= key[:creation_date] %>
                </div>
                <div>
                  Expires: <%= key[:expires_at] %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>