<% title "Add Provider Org" %>

<div>
  <%= link_to root_path, class: 'btn_to_home flex-sp-btwn' do %>
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <use xlink:href="/impl/assets/solid.svg#arrow-left"></use>
    </svg>
    <div>
      Back to Home
    </div>
  <% end %>
</div>

<div>
  <% unless @user.provider_orgs == false %>
    <%= form_for :provider_org, url: add_provider_orgs_url do |f| %>
      <%= f.label :npi, "NPI", class: "ds-c-label" %>
      <%= f.text_field :npi, class: "ds-c-field" %>
      <%= f.submit "Add Provider Organization", class: "ds-c-button ds-c-button--primary", data: { test: "porg-form-submit" } %>
    <% end %>
  <% else %>
    <%= render partial: 'shared/connection-error' %>
  <% end %>
</div>