<% title @org[:name] %>

<div class="ds-u-margin-bottom--6" id="dashboard__title">
  <div>
    <%= link_to "Back to Portal", root_path, class: "ds-c-button" %>
  </div>

  <h1 class="ds-text-heading--4xl ds-title"><%= @org[:name] %></h1>
  <div>
    <div>
      <strong>Org ID:</strong> <%= @org[:id] %>
    </div>
    <div>
      <strong>Provider NPI:</strong> <%= @npi %>
    </div>
    <div>
      <strong>Organization Status: <span class="<%= active_status_class if status_active?(@status) %>"><%= @status %></span></strong>
    </div>
  </div>
</div>

<div id="dashboard__content">
  <div id="dash_content_nav_container">
    <%= render partial: 'shared/need-help' %>
  </div>

  <div id="dash_content">

    <% if @public_keys.count.zero? %>
      <h2>Create the Initial Token for <%= @org[:name] %></h2>
      <%= render partial: 'public_keys/new_public_key_form', org_name: @org[:name] %>
    <% else %>
      <div class="porg_container" id="client_tokens_container">
        <div class="header-container flex-row-spc-btwn">
          <h2>Client Tokens</h2>
          <div>
            <%= link_to "Add New Token", new_client_token_url(org_id: @org_id), class: "ds-c-button ds-c-button--primary" %>
          </div>
        </div>
        <%= render 'client_token_list' %>
      </div>

      <div class="porg_container" id="public_keys_container">
        <div class="header-container flex-row-spc-btwn">
          <h2>Public Keys</h2>
          <div>
            <%= link_to "Upload New Key", new_public_key_url(org_id: @org_id), class: "ds-c-button ds-c-button--primary" %>
          </div>
        </div>
          <%= render 'public_key_list' %>
      </div>
    </div>
  <% end %>
</div>