<% title @org[:name] %>

<div class="ds-u-margin-bottom--6" id="dashboard__title">
  <h1 class="ds-text-heading--4xl ds-title"><%= @org[:name] %></h1>
  <div>
    <div>
      <strong>Org ID:</strong> <%= @org[:id] %>
    </div>
    <div>
      <strong>Provider NPI:</strong> <%= @npi %>
    </div>
    <div>
      <strong>Organization Status: <span class="<%= active_status_class if status_active?(@status) %>"><%= @status %></span></strong>
    </div>
  </div>
</div>

<div id="dashboard__content">
  <div id="dash_content_nav_container">
    <%= render partial: 'shared/need-help' %>
  </div>

  <div id="dash_content">
    <div class="porg_container" id="client_tokens_container">
      <div class="header-container">
        <h2>Client Tokens</h2>
      </div>
      <% if @client_tokens.count.zero? %>
        There are currently no client token associated with this provider organization.
      <% else %>
      <% end %>
    </div>

    <div class="porg_container" id="public_keys_container">
      <div class="header-container">
        <h2>Public Keys</h2>
      </div>
      <% if @public_keys.count.zero? %>
        There are currently no public keys associated with this provider organization.
      <% else %>
      <% end %>
    </div>
  </div>
</div>