<% if @organization.health_it_vendor? %>
  <br>
  <div class="ds-u-margin-bottom--1">
    <label class="ds-u-margin-right--1 ds-u-color--muted">Vendor ID (System-generated):</label>
    <div class="ds-u-color--muted"><%= @organization.vendor_id %></div>
  </div>
<% elsif @organization.npi.nil? %>
  <div>
    <label class="ds-u-color--muted">Provider ID (System-generated):</label>
    <div class="ds-u-color--muted"><%= @organization.provider_id %></div>
  </div>
  <br>
  <div>
    <strong>Vendor(s):</strong> <%= vendor_text(@organization) %>
  </div>
<% else %>
  <div>
    <div>
    <strong>NPI:</strong> <%= npi_text(@organization) %> | <strong>Vendor(s):</strong> <%= vendor_text(@organization) %>
    </div>
  </div>
<% end %>