<div>
  <% if @organization.present? %>
  <div class="margin-bottom-5">&larr; <%= link_to "Return to my organizations", organizations_path %></div>
  <h1><%= @organization.name %></h1>
  <p><span class="text-bold">NPI:</span> <%= @organization.npi %></p>
  <% end %>
  <div class="font-body-lg text-bold"><%= t("#{@failure_code}_status") %></div>
  <p><%=raw t("#{@failure_code}_text") %></p>
</div>
