<% title "Forgot your password?" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-bottom--1 ds-u-margin-x--auto">
    <div class="card card--border-top card--shadow">
      <h1 class="ds-u-margin-top--0">Forgot your password?</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: "ds-c-label" %>
          <%= f.email_field :email, autocomplete: "email", class: "ds-c-field" %>
        </div>

        <div class="actions ds-u-margin-top--3">
          <%= f.submit "Send password reset instructions", class: "ds-c-button ds-c-button--primary", data: {test: "submit"} %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-x--auto">
    <div class="card">
      <%= render "internal/auth/shared/links" %>
    </div>
  </div>
</div>
