<% title "Organizations" %>

<div class="ds-l-row">
  <div class="ds-l-row--12 ds-l-md-col--3">
    <%= render "shared/sidenav", current: :organizations %>
  </div>


  <section class="ds-l-row--12 ds-l-md-col--9 ds-u-md-padding-left--2">
    <%= link_to new_organization_path, class: "utility-button" do %>
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <use xlink:href="/admin/assets/solid.svg#plus"></use>
      </svg>
      Create new organization
    <% end %>

    <h1 class="ds-h1"><%= orgs_header(@organizations.total_count) %></h1>
    <p class=""><%= page_entries_info @organizations %></p>
    <%= form_tag organizations_path, method: "get", class: "ds-u-display--flex" do %>
      <%= text_field_tag :keyword, params[:keyword], placeholder: "name", class: "ds-c-field ds-u-margin--0" %>
      <%= submit_tag "Search", data: { test: 'organizations-keyword-search-submit' }, class: "ds-c-button ds-c-button--primary ds-u-margin-left--1" %>
    <% end %>

    <div class="ds-u-margin-top--5 ds-u-margin-bottom--2">

    <button type="button" id="filter-modal-trigger" class="list-control-button" data-modal-show="filter-modal" data-test="filter-modal-trigger">
      <svg class="icon ds-u-margin-right--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <use xlink:href="/admin/assets/solid.svg#filter"></use>
      </svg>
      Filter
    </button>

    </div>

    <% @organizations.each do |org| %>
      <div class="module-container">
        <div class="module-container__primary">
          <h2 class="module-container__heading"><%= link_to org.name, organization_path(org) %></h2>
          <div class="site-pills ds-u-margin--0 ds-u-padding--2">
          <% org.taggings.each do |tagging| %>
            <span class="site-pills__item site-pills__item--small">
              <%= tagging.tag_name %>
            </span>
          <% end %>
          </div>
        </div>
        <div class="module-container__secondary ds-u-padding--2">
          <% if org.reg_org.present? && org.reg_org.enabled == true %>
            <svg class="icon ds-u-margin-right--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="/admin/assets/solid.svg#database"></use>
            </svg>
            Enabled in API
          <% end %>
        </div>

      </div>
    <% end %>
    <%= paginate @organizations %>
  </section>
</div>

 <%= render 'filter_modal' %>
