<% title "Add Public Key" %>

<div>
    <div class="margin-bottom-5">&larr; <%= link_to 'Provider Org Name', organizations_path %></div>
    <h1>Add Public Key</h1>

    <section class="box">
        <div>
            <h2>New Public Key for <%= @organization.name %></h2>

                <div class="field">
                    <%= label_tag :label, "Label" %>
                    <%= text_field_tag :label, params[:label] %>
                    <p>Choose a descriptive name to make your key easily identifiable to you.</p>
                </div>
                <div class="text">
                    <%= label_tag :public_key, "Public Key" %>
                    <%= text_field_tag :public_key, params[:public_key] %>
                    <p>Must include the "BEGIN PUBLIC KEY" and "END PUBLIC KEY" tags from your public.pem file.</p>
                </div>
                <div class="text">
                    <%= label_tag :snippet_signature, "Signature Snippet" %>
                    <%= text_field_tag :snippet_signature, params[:snippet_signature] %>
                    <p>Must yield "Verified Ok" results in order to generate the signature.sig file.</p>
                </div>

                <%= submit_tag "Add key">
        </div>
    </section>
</div>