<div class="usa-alert usa-alert--<%= status %> <%= heading.present? ? '' : ' usa-alert--slim' %> <%= include_icon ? '' : 'usa-alert--no-icon' %>">
    <div class="usa-alert__body" role="complementary">
      <% if heading.present? %>
        <h2 class="usa-alert__heading"><%= heading %></h2>
      <% end %>
      <p class="usa-alert__text">
        <%= content %>
      </p>
    </div>
</div>
