<div class="usa-step-indicator bg-base-lightest" aria-label="progress">
  <ol class="usa-step-indicator__segments">
    <% @steps.each_with_index do |step, current_index|
    
    if current_index < @index %>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--complete">
      <span class="usa-step-indicator__segment-label">
        <%= step %> <span class="usa-sr-only">completed</span></span>
    </li>
    <% elsif current_index > @index %>
    <li class="usa-step-indicator__segment">
      <span class="usa-step-indicator__segment-label">
        <%= step %> <span class="usa-sr-only">not completed</span></span>
    </li>
    <% else %>
    <li class="usa-step-indicator__segment usa-step-indicator__segment--current"
      aria-current="true">
      <span class="usa-step-indicator__segment-label"><%= step %></span>
    </li>
    <% end %>
  <% end %>
  </ol>
  <% if @index < @steps.length %>
  <div class="usa-step-indicator__header">
    <h1 class="usa-step-indicator__heading">
      <span class="usa-step-indicator__heading-counter">
	<span class="usa-sr-only">Step</span>
        <span class="usa-step-indicator__current-step"><%= @index + 1 %></span>
        <span class="usa-step-indicator__total-steps">of <%= @steps.length %></span>
      </span>
      <span class="usa-step-indicator__heading-text"><%= @steps[@index] %></span>
    </h1>
  </div>
  <% end %>
</div>
