<%= javascript_tag do %>
function make_current(link_index) {
  const selectors = <%= raw @selectors.to_s %>;
  var current_index = 0;
  for (anchor of document.querySelector('.usa-nav__primary').getElementsByTagName("a")) {
    if (current_index == link_index){
      anchor.className = 'usa-nav-link usa-current';
      if (document.querySelector(selectors[current_index])) {
        document.querySelector(selectors[current_index]).style.display = 'block';
      }
    } else {
      anchor.className = 'usa-nav-link';
      if (document.querySelector(selectors[current_index])) {
        document.querySelector(selectors[current_index]).style.display = 'none';
      }
    }
    current_index++;
  }
}
document.addEventListener("DOMContentLoaded", function() {
    if (document.querySelector("#<%= @header_id %>")) {
      document.querySelector("#<%= @header_id %>").style.display = 'block';
    }
    make_current(<%= @start_index %>);
});
<% end %>
<div class="usa-overlay"></div>
<header id="<%= @header_id %>" class="usa-header usa-header--extended" style="display: none">
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <ul class="usa-nav__primary usa-accordion">
        <% @links.each_with_index do |link, index|
           text, href, _, _ = link
        %>
        <li class="usa-nav__primary-item">
          <%= link_to text, href, onclick: "make_current(#{index}); return false", class: 'usa-nav-link' %>
        </li>
          <% end %>
      </ul>
    </div>
  </nav>
</header>
