<% title "Change your password" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-bottom--1 ds-u-margin-x--auto">
    <div class="card card--border-top card--shadow">
      <h2 class="ds-u-margin-top--0">Change your password</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "New password", class: "ds-c-label" %>
          <% if @minimum_password_length %>
            <span class="ds-c-field__hint">(<%= @minimum_password_length %> characters minimum)</span>
          <% end %>
          <%= f.password_field :password, class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password", class: "ds-c-label" %>
          <%= f.password_field :password_confirmation, class: "ds-c-field" %>
        </div>

        <div class="actions ds-u-margin-top--3">
          <%= f.submit "Change password", class: "ds-c-button ds-c-button--primary", data: { test: "submit" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-x--auto">
    <div class="card">
      <%= render "internal/devise/shared/links" %>
    </div>
  </div>
</div>