<div id="hero__banner">
  <div class="banner-content">
    <div class="banner-text__container">
      <div class="banner-text__title">
        Join the Production Pilot Onboarding Queue!
      </div>
      <div class="banner-text__content">
        For more information, please review the <%= link_to "FAQs", faq_path %> about production access.
      </div>
    </div>
    <div class="banner-btn__container">
      <a href="https://airtable.com/shr3m3BL3IWY5hYnm" target="_blank" class="sign_up_btn">Apply Now</a>
    </div>
  </div>
</div>
<div class="hero">
  <div class="ds-l-container">
    <div class="hero__container">
      <div class="hero__content">
        <span class="hero__badge">CMS Pilot API</span>
        <h1 class="hero__primary-heading">A 360° view of your patients’ history</h1>
        <div class="ds-u-margin-top--3">
          <div class="ds-text--lead">
            As patients move throughout the healthcare system, providers often struggle to gain and maintain a complete picture of their medical history. <b>In addiction to supporting Covid-specific supplemental data</b>, Data at the Point of Care fills in the gaps with claims data to inform providers with secure, structured patient history, past procedures, medication adherence, and more.
          </div>

        </div>
        <div id="hero_button__container" class="ds-u-margin-top--7">
          <% unless user_signed_in? %>
          <a id="request_access" href="<%= new_user_registration_path %>" class="ds-c-button ds-c-button--big ds-c-button--success">
            <svg class="ds-u-margin-right--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" >
            <use xlink:href="/assets/solid.svg#key"></use>
          </svg>
          Request sandbox access</a>
          <% end %>

          <%= link_to "https://groups.google.com/d/forum/dpc-api", :class => "ds-c-button ds-c-button--inverse ds-c-button--inverse--alt ds-c-button--big" do %>
            Join Google Group
          <% end %>

        </div>

        <p class="ds-u-margin-top--5">Start your Data at the Point of Care journey by getting acquainted with the API using synthetic data. When you're ready, <%= link_to "review the requirements", faq_path %> for production pilot access and <a href="https://airtable.com/shr3m3BL3IWY5hYnm" target="_blank">sign up to join our queue</a>.</p>
      </div>
      <div class="hero__image-container">
        <%= image_tag("hero-heart.svg", class: "hero__image", alt: "") %>
      </div>
    </div>
  </div>
</div>
