<tr class="organizations-list-row">
  <th scope="row" class="organization-name">
    <a class="organization-link" href="<%= organization_path(@organization)%>">
      <span class="organization-name-truncated"><%= @organization.name %></span>
    </a>
  </th>
  <td class="organization-npi"> <%= @organization.npi %> </td>
  <td class="orglink-role">
    <% if @link.is_ao? %>
      AO
    <% else %>
      CD
    <% end %>
  </td>
  <td class="organization-status">
    <div class="clearfix">
      <div class="float-left"><%= render Core::Icon::UswdsComponent.new(@icon, additional_classes: @classes) %></div>
      <div class="float-left margin-left-1 margin-top-neg-2px"><%= @status %></div>
    </div>
  </td>
</tr>
