<tr>
  <th scope="row">
    <a href="<%= organization_path(@organization)%>" >
      <%= @organization.name %>
    </a>
  </th>
  <td> <%= @organization.npi %> </td>
  <td>
    <% if @link.is_ao? %>
      AO
    <% else %>
      CD
    <% end %>
  </td>
  <td>
    <div class="clearfix">
      <div class="float-left"><%= render Core::Icon::UswdsComponent.new(@icon, additional_classes: @classes) %></div>
      <div class="float-left margin-left-1 margin-top-neg-2px"><%= @status %></div>
    </div>
  </td>
</tr>
