<head>
  <%= render partial: 'shared/google-analytics' %>
  <title>
    <%= content_for?(:title) ? yield(:title) : 'CMS.gov' %> | Data at the Point of Care
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name='description' content='<%= yield_meta_tag(:description, 'Data at the Point of Care is a CMS pilot API program that enables healthcare providers to deliver high quality care directly to Medicare beneficiaries by making a patient’s Medicare claims data available to the provider for treatment needs.') %>' />

  <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'CMS.gov' %> | Data at the Point of Care" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:description" content="<%= yield_meta_tag(:description, 'Data at the Point of Care is a CMS pilot API program that enables healthcare providers to deliver high quality care directly to Medicare beneficiaries by making a patient’s Medicare claims data available to the provider for treatment needs.') %>" />
  <meta property="og:url" content="http://dpc.cms.gov" />
  <meta property="og:site_name" content="Data at the Point of Care" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="<%= image_path('social-card.png') %>">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@cmsgov" />
  <meta name="twitter:image" content="<%= image_path('social-card.png') %>">
  <script type="application/ld+json">
  {"description":"<%= yield_meta_tag(:description, 'Data at the Point of Care is a CMS pilot API program that enables healthcare providers to deliver high quality care directly to Medicare beneficiaries by making a patient’s Medicare claims data available to the provider for treatment needs.') %>","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"/assets/apple-touch-icon.png"}},"headline":"Data at the Point of Care","mainEntityOfPage":{"@type":"WebPage","@id":"http://dpc.cms.gov/"},"@context":"http://schema.org"}</script>


  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/uswds/2.13.3/js/uswds-init.min.js', crossorigin: 'anonymous' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/uswds/2.13.3/css/uswds.min.css', crossorigin: 'anonymous'%>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag "https://tags.tiqcdn.com/utag/cmsgov/cms-dpc/#{ ENV['ENV'] == 'prod-spx' ? 'qa' : 'dev'}/utag.sync.js" %>

</head>