<a class="ds-c-skip-nav" href="#main">Skip to main content</a>

<nav class="navbar" id="navbar">
  <a class="site-logo" href="/">
    <%= image_tag("top-nav-heart.svg", alt: "Heart logo") %> <span class="site-logo-text">Data at the Point of Care</span>
  </a>


  <button id="topnav__show-button" class="ds-c-button ds-c-button--transparent ds-c-button--big topnav__show-button" type="button" aria-controls="topnav-wrap" aria-label="Show menu">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <use xlink:href="/assets/solid.svg#bars"></use>
    </svg>
  </button>


  <% unless (controller_name == "sessions" || controller_name == "registrations") %>
  <div class="topnav-wrap" id="topnav-wrap">
    <button id="topnav__close-button" class="ds-c-button ds-c-button--transparent ds-c-button--big topnav__close-button" type="button"
aria-controls="topnav-wrap" aria-label="Close menu">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <use xlink:href="/assets/solid.svg#times"></use>
      </svg>
    </button>
    <ul class="topnav">
      <li class="topnav__item">
        <%= link_to docs_path, :class => "topnav__link" do %>
          Documentation
        <% end %>
      </li>

      <li class="topnav__item">
        <%= link_to support_path, :class => "topnav__link" do %>
          Support
        <% end %>
      </li>

      <% unless user_signed_in? %>
        <li class="topnav__item ds-u-padding-right--1">
          <%= link_to "Log in", new_session_path(User), class: "ds-c-button" %>
        </li>
        <li class="topnav__item">
          <%= link_to "Request access", new_registration_path(User), class: "ds-c-button ds-c-button--primary" %>
        </li>
      <% else %>
        <li class="topnav__item">
          <a class="ds-c-button ds-c-button--medium ds-c-button--primary ds-u-margin-right--2"
             id="sign-out" href="<%= destroy_user_session_path %>" data-method="delete">
             Sign out
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</nav>
