<% title "Confirmation instructions" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-bottom--1 ds-u-margin-x--auto">
    <div class="card card--border-top card--shadow">
      <h1 class="ds-u-margin-top--0">Resend confirmation instructions</h1>

      <%= form_for(resource, as: resource_name, url: user_email_divert_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email, class: "ds-c-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "ds-c-field" %>
        </div>

        <div class="actions ds-u-margin-top--3">
          <%= f.submit "Resend confirmation instructions", class: "ds-c-button ds-c-button--primary", data: {test: "submit"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-x--auto">
    <div class="card">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
