<div id="credential_delegates">
  <%= render(Core::Card::BasicComponent.new(text_content: '<h2>Credential Delegates</h2>')) do %>
      <p>A Credential Delegate (CD) helps your organization set up and manage your API access.</p>
      <div>
        <% if @active_credential_delegates.present? %>
          <%= render(Core::Table::TableComponent.new(id: 'active-cd-table', additional_classes: ['width-full'], sortable: true)) do %>
            <%= render(Core::Table::HeaderComponent.new(caption: 'Active Credential Delegate Table',
                                                        columns: ['Name', 'Email', 'Active since'],
                                                        sorts: (0..2).to_a)) %>
            <%= render(Core::Table::RowComponent.with_collection(@active_credential_delegates, keys: ['full_name', 'email', 'activated_at'])) %>
          <% end %>
        <% else %>
          <p>You have no active Credential Delegates.</p>
        <% end %>
      </div>
  <% end %>
  <%= render(Core::Card::BasicComponent.new(text_content: '<h2>Invites</h2>',
    button_params: { name: 'Invite CD', path: new_organization_credential_delegate_invitation_path(@organization.path_id), method: :get} )) do %>
      <p>You can invite users to be Credential Delegates.</p>
      <div>
        <h2>Pending invites</h2>
        <% if @pending_credential_delegates.present? %>
          <%= render(Core::Table::TableComponent.new(id: 'pending-cd-table', additional_classes: ['width-full'], sortable: true)) do %>
            <%= render(Core::Table::HeaderComponent.new(caption: 'Pending Credential Delegate Table',
                                                    columns: ['Name', 'Email', ''],
                                                    sorts: (0..1).to_a)) %>
            <%= render(Core::Table::RowComponent.with_collection(@pending_credential_delegates, keys: ['full_name', 'email'], delete_path: organization_credential_delegate_invitations_path(@organization.path_id), obj_name: 'CD invitation')) %>
          <% end %>
      <% else %>
        <p>You have no pending invites.</p>
      <% end %>
    </div>
    <div>
      <h2>Expired invites</h2>
      <% if @expired_invitations.present? %>
        <%= render(Core::Table::TableComponent.new(id: 'expired-invitation-table', additional_classes: ['width-full'], sortable: true)) do %>
          <%= render(Core::Table::HeaderComponent.new(caption: 'Expired Invitation Table',
                                                      columns: ['Name', 'Email', 'Expired on'],
                                                      sorts: (0..2).to_a)) %>
          <%= render(Core::Table::RowComponent.with_collection(@expired_invitations, keys: ['full_name', 'email', 'expired_at'], obj_name: 'expired invitation')) %>
        <% end %>
      <% else %>
        <p>You have no expired invites.</p>
      <% end %>
    </div>
  <% end %>
</div>
