<div>
  <h1><%= @organization.name %></h1>
  <div class="margin-bottom-5">NPI: <%= @organization.npi %></div>
  <%= render(Core::Card::BasicComponent.new(text_content: '<h2>Credential delegates</h2>',
    button_params: { name: 'Assign CD', path: new_organization_credential_delegate_invitation_path(@organization.path_id), method: :get} )) do %>
      <hr />
      <p>A credential delegate (CD) manages secure API login information. You can assign anyone as a CD.</p>
      <div>
        <h2>Active</h2>
        <% if @active_credential_delegates.present? %>
          <%= render(Core::Table::TableComponent.new(id: 'active-cd-table', additional_classes: ['width-full'], sortable: false)) do %>
            <%= render(Core::Table::HeaderComponent.new(caption: 'Active Credential Delegate Table',
                                                    columns: ['Name', 'Email', 'Active since', ''])) %>
            <%= render(Core::Table::RowComponent.with_collection(@active_credential_delegates, keys: ['full_name', 'email', 'activated_at', 'X'])) %>
          <% end %>
        <% else %>
          <p>There are no active credential delegates.</p>
        <% end %>
      </div>
      <div>
        <h2>Pending</h2>
        <p>You will need to send an invited Credential Delegate their invite code when they accept the organization invite. Please do not send the code via email.</p>
        <% if @pending_credential_delegates.present? %>
          <%= render(Core::Table::TableComponent.new(id: 'pending-cd-table', additional_classes: ['width-full'], sortable: false)) do %>
            <%= render(Core::Table::HeaderComponent.new(caption: 'Pending Credential Delegate Table',
                                                    columns: ['Name', 'Email', 'Invite code', ''])) %>
            <%= render(Core::Table::RowComponent.with_collection(@pending_credential_delegates, keys: ['full_name', 'email', 'verification_code', 'X'])) %>
          <% end %>
      <% else %>
        <p>There are no pending credential delegates.</p>
      <% end %>
    </div>
  <% end %>
</div>
