<% title "Request access" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-bottom--1 ds-u-margin-x--auto">
    <div class="card card--border-top card--shadow">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <h1 class="ds-u-margin-top--0">Request access</h1>

        <div>
          All fields are required to request access.
        </div>

        <div class="field">
          <%= f.label :first_name, class: "ds-c-label" %>
          <%= f.text_field :first_name, class: "ds-c-field", onkeyup: "fieldBlankCheck('user_first_name', 'user_first_name_blank')" %>
          <div class="ds-u-color--error-dark" id="user_first_name_blank">
          </div>
        </div>

        <div class="field">
          <%= f.label :last_name, class: "ds-c-label" %>
          <%= f.text_field :last_name, class: "ds-c-field", onkeyup: "fieldBlankCheck('user_last_name', 'user_last_name_blank')" %>
          <div class="ds-u-color--error-dark" id="user_last_name_blank">
          </div>
        </div>

        <div class="field">
          <%= f.label :email, class: "ds-c-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "ds-c-field", onkeyup: "fieldBlankCheck('user_email', 'user_email_blank')" %>
          <div class="ds-u-color--error-dark" id="user_email_blank">
          </div>
        </div>

        <div class="field">
          <%= f.label 'Implementer Name', class: "ds-c-label" %>
          <%= f.text_field :implementer, class: "ds-c-field", onkeyup: "fieldBlankCheck('user_implementer', 'user_implementer_blank')" %>
          <div class="ds-u-color--error-dark" id="user_implementer_blank">
          </div>
        </div>

        <div class="field">
          <%= f.label :password, class: "ds-c-label" %>
          <div class="password-check-list">
            Password must contain at least:<br />
            <div id="password-char-set" class="invalid">
              <%= @minimum_password_length %> characters minimum
            </div>
            <div id="password-lower-set" class="invalid">
              1 lowercase letter
            </div>
            <div id="password-upper-set" class="invalid">
              1 uppercase letter
            </div>
            <div id="password-num-set" class="invalid">
              1 number
            </div>
            <div id="password-special-set" class="invalid">
              1 special character (!@#$&*-)
            </div>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: "ds-c-field", onkeyup: "fieldBlankCheck('user_password', 'user_password_blank'); passwordCheck('user_password')" %>
          <div class="ds-u-color--error-dark" id="user_password_blank">
          </div>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "ds-c-label" %>
          <div class="password-check-list">
            <div id="password-confirm-set" class="invalid">
              Confirm password
            </div>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "ds-c-field", onkeyup: "fieldBlankCheck('user_password_confirmation', 'user_password_confirmation_blank'); passwordCheck('user_password_confirmation')" %>
          <div class="ds-u-color--error-dark" id="user_password_confirmation_blank">
          </div>
        </div>

        <div class="field tos-container">
          <%= f.check_box :agree_to_terms, class: 'ds-c-choice' %>
          <%= f.label :agree_to_terms, class: 'tos' do %>
          <!-- TODO: link to TOS -->
          I agree to the&nbsp;<a href="<%= ENV['STATIC_SITE_URL'] %>/terms-of-service">Terms of Service</a>
          <% end %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "ds-c-button ds-c-button--primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-x--auto">
    <div class="card">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
