<div class="box__content">
  <h2 class="box__heading">Add User</h2>

  <input type="text" class="ds-c-field" id="orgSearchInput" onkeyup="orgSearch()" placeholder="Search for user by name or user id.">

  <div class="ds-u-padding-y--2" id="searchMessage"></div>
  <ul class="module-list-container" id="searchList" style="display: none;">
    <% @users.each do |user| %>
      <li>
        <div class="module-container ds-u-margin-x--1">
          <div class="module-container__id">
            <%= user.id %>
          </div>

          <div class="module-container__primary">
            <div class="module-container__heading">
              <%= link_to user.name, internal_user_url(user) %>
            </div>
            <div class="module-container__button">
              <%= form_for @organization, url: internal_organization_add_or_delete_url(@organization), html: { method: :add } do |f| %>
                <%= f.hidden_field :id, value: user.id %>
                <%= f.submit "Add user", class: "ds-c-button ds-c-button--primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>