
<% title @organization.name %>

<div class="ds-l-container ds-u-padding-x--0">
  <div>
    <%= link_to internal_organizations_path, class: "utility-button" do %>
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <use xlink:href="/assets/solid.svg#arrow-left"></use>
      </svg>
      Organizations index
    <% end %>

  </div>

  <section class="ds-u-display--flex ds-u-justify-content--between ds-u-align-items--center">
    <h1 class="ds-u-font-size--title ds-u-font-weight--normal ds-u-margin--0"><%=  @organization.name %></h1>
    <div>
      <%= link_to "Edit organization", edit_internal_organization_url(@organization), class: "ds-c-button ds-c-button--primary", data: { test: "edit-link" } %>
    </div>
  </section>

  <section>
    <div class="ds-u-color--success">
      <% @organization.api_environment_strings.each do |api_env| %>
        <svg class="icon ds-u-margin-right--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <use xlink:href="/assets/solid.svg#database"></use>
        </svg>
        <%= api_env.titleize %>
      <% end %>
    </div>
  </section>

  <section class="box">
    <div class="box__content">
      <h2 class="box__heading">Organization info</h2>

      <div class="ds-u-margin-bottom--1">
        <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <use xlink:href="/assets/solid.svg#user-alt"></use>
        </svg>
        <%= @organization.name %>
      </div>
      <div class="ds-u-margin-bottom--1">
        <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <use xlink:href="/assets/solid.svg#envelope"></use>
        </svg>
        <%= @organization.organization_type.titleize %>
      </div>
      <div class="ds-u-margin-bottom--1">
        <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <use xlink:href="/assets/solid.svg#users"></use>
        </svg>
        <%= @organization.num_providers %> providers
      </div>

      <div class="ds-u-margin-bottom--1">
        <label class="ds-u-margin-right--1 ds-u-color--muted">NPI</label>
        <%= @organization.npi %>
      </div>

      <div class="ds-u-margin-bottom--1">
        <label class="ds-u-margin-right--1 ds-u-color--muted">Vendor</label>
        <%= @organization.vendor %>
      </div>

    </div>

    <div class="box__content">
      <h2 class="box__heading">Address</h2>
      <div>
        Use: <%= @organization.address_use.titleize %>
      </div>
      <div>
        Type: <%= @organization.address_type.titleize %>
      </div>
      <div>
        <%= @organization.address_street %>
      </div>
      <div>
        <%= @organization.address_street_2 %>
      </div>
      <div>
        <%= @organization.address_city %>
      </div>
      <div>
        <%= @organization.address_state %>
      </div>
      <div>
        <%= @organization.address_zip %>
      </div>
    </div>
  </section>
<div>

<section class="box">
    <div class="box__content">
      <h2 class="box__heading">Enabled Environments</h2>

      <h3>Sandbox</h3>
      <% if @organization.sandbox_enabled? %>
        <div class="ds-u-margin-bottom--1">
          API ID: <%= @organization.sandbox_registered_organization.api_id %>
        </div>
        <h4>FHIR Endpoint</h4>
        <div class="ds-u-margin-bottom--1">
          API Reference: <%= @organization.sandbox_registered_organization.api_endpoint_ref %>
        </div>
        <div class="ds-u-margin-bottom--1">
          Name: <%= @organization.sandbox_fhir_endpoint.name %>
        </div>
        <div class="ds-u-margin-bottom--1">
          URI: <%= @organization.sandbox_fhir_endpoint.uri %>
        </div>
        <div class="ds-u-margin-bottom--1">
          Status: <%= @organization.sandbox_fhir_endpoint.status.titleize %>
        </div>

        <%= link_to "Edit", edit_internal_organization_registered_organization_path(
          organization_id: @organization.id,
          id: @organization.sandbox_registered_organization.id,
          api_env: 'sandbox'
          ) %>
        <%= link_to "Disable Sandbox", "#" %>
      <% else %>
        <%= link_to 'Enable Sandbox',
                    new_internal_organization_registered_organization_path(organization_id: @organization.id, api_env: 'sandbox'),
                    data: { test: 'enable-sandbox' } %>
      <% end %>

      <h3>Production</h3>
      <% if production_api_access_enabled? %>
        <div class="ds-u-margin-bottom--1">
          API ID: <%= @organization.production_registered_organization.api_id %>
        </div>
        <% if @organization.production_enabled? %>
          <div class="ds-u-margin-bottom--1">
            API Reference: <%= @organization.production_registered_organization.api_endpoint_ref %>
          </div>
          <h4>FHIR Endpoint</h4>
          <div class="ds-u-margin-bottom--1">
            Name: <%= @organization.production_fhir_endpoint.name %>
          </div>
          <div class="ds-u-margin-bottom--1">
            URI: <%= @organization.production_fhir_endpoint.uri %>
          </div>
          <div class="ds-u-margin-bottom--1">
            Status: <%= @organization.production_fhir_endpoint.status.titleize %>
          </div>
        <% else %>
          <%= link_to 'Enable Production', new_internal_organization_registered_organization_path(organization_id: @organization.id, api_env: 'production') %>
        <% end %>

        <%= link_to "Edit", edit_internal_organization_registered_organization_path(
          organization_id: @organization.id,
          id: @organization.production_registered_organization.id,
          api_env: 'production'
          ) %>
        <%= link_to "Disable Production", "#" %>
      <% else %>
        Production API access not yet available.
      <% end %>
    </div>
</section>

<section class="box">
    <div class="box__content">
      <h2 class="box__heading">Users</h2>
      <% @organization.users.each do |user| %>
        <div class="module-container">
          <div class="module-container__id">
            <%= user.id %>
          </div>
          <div class="module-container__primary">
            <h2 class="module-container__heading">
              <%= link_to user.name, internal_user_url(user) %>
            </h2>
          </div>
        </div>
      <% end %>
    </div>
</section>

<section class="ds-u-margin--2">
  <div class="ds-l-row ds-u-justify-content--center">
    <%= link_to "Delete provider organization", internal_organization_url(@organization), method: :delete, class: "ds-u-color--error ds-u-text-align--center" %>
  </div>
</section>