
<% title @organization.name %>

<section class="ds-u-margin--2">
  <div class="ds-l-row ds-u-justify-content--end">
    <%= link_to "Edit details", edit_internal_organization_url(@organization), class: "ds-c-button  ds-c-button--big ds-c-button--primary", data: { test: "edit-link" } %>
  </div>
</section>

<section class="ds-l-container ds-u-border--1 ds-u-radius">
  <div class="ds-l-row">
    <h2 class="ds-u-padding-x--2">Organization info</h2>
  </div>

  <div class="ds-l-row">
    <div class="ds-l-row--12 ds-l-md-col--6">
      <p>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <use xlink:href="/assets/solid.svg#user-alt"></use>
        </svg>
        <%= @organization.name %>
      </p>
      <p>
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <use xlink:href="/assets/solid.svg#envelope"></use>
        </svg>
        <%= @organization.organization_type.titleize %>
      </p>
    </div>
  </div>

  <div class="ds-l-row">
    <div class="ds-l-row--12 ds-l-md-col--6">
      <p>
        <%= @organization.address_street %>
      </p>
      <p>
        <%= @organization.address_street_2 %>
      </p>
      <p>
        <%= @organization.address_city %>
      </p>
      <p>
        <%= @organization.address_state %>
      </p>
      <p>
        <%= @organization.address_zip %>
      </p>
    </div>
  </div>
</section>