<% title "Your profile" %>

<div class="ds-l-row">
  <div class="ds-l-row--12 ds-l-md-col--6">
    <h3 class="ds-u-border-bottom--1">Your info</h3>
    <div class="ds-text--lead">
      <p><strong>Name:</strong><br><%= @dpc_registration.user.name %></p>
      <p><strong>Email:</strong><br><%= @dpc_registration.user.email %></p>
    </div>
  </div>

  <div class="ds-l-row--12 ds-l-md-col--6">
    <h3 class="ds-u-border-bottom--1">Your organization</h3>
    <div class="ds-text--lead">
      <p><strong>Name:</strong><br><%= @dpc_registration.user.requested_organization %></p>
      <p><strong>Type:</strong><br><%= @dpc_registration.user.requested_organization_type.titleize %></p>

      <% unless @dpc_registration.user.requested_organization_type == "health_it_vendor" %>
        <p><strong>Number of providers:</strong><br><%= @dpc_registration.user.requested_num_providers %></p>
      <% end %>

      <p> <strong>Address:</strong><br>
        <%= @dpc_registration.user.address_1 %><br/>
        <% if @dpc_registration.user.address_2.length > 1 %>
          <%= @dpc_registration.user.address_2 %><br/>
        <% end %>
        <%= @dpc_registration.user.city %>, <%= @dpc_registration.user.state %> <%= @dpc_registration.user.zip %>
      </p>
    </div>
  </div>
</div>

<div>
  <%= link_to "edit profile", edit_registration_path(User), :class => "ds-c-button ds-c-button--primary" %>
</div>


