<%= render partial: 'shared/alerts', locals: { notice: flash[:notice], alert: flash[:alert] } %>

<div>
  <p>
    Currently, your access level to the DPC API is: <%= @dpc_registration.access_level.tr('_', ' ') %>.
  </p>
  <p>
    Registration Details:<br/>
    <%= @dpc_registration.user.name %><br/>
    <%= @dpc_registration.user.organization %><br/>
    <%= @dpc_registration.user.organization_type.humanize %><br/>
    <%= @dpc_registration.user.address_1 %><br/>
    <%= @dpc_registration.user.address_2 %><br/>
    <%= @dpc_registration.user.city %>, <%= @dpc_registration.user.state %> <%= @dpc_registration.user.zip %>
  </p>
</div>
