<% title "Home Page" %>

<div id="dashboard__title">
  <h1 class="ds-text-heading--4xl ds-title">DPC Account Home Page</h1>
  <h1 class="ds-text-heading--xl ds-h3 ds-u-margin-top--1">for Implementer <%= @user.implementer %></h1>
  <h3><%= @user.implementer_id %></h3>
</div>

<div class="ds-u-margin-y--4" id="dashboard__welcome">
  Welcome <%= @user.name %> to the Data at the Point of Care sandbox environment! You have been assigned to the organizations below and may begin testing your solutions using synthetic data. The DPC team always welcomes feedback from our users; please share any questions or suggestions for the user experience in our Google Group.<br /><br />

  <strong>Remember, the use of real patient information is strictly prohibited</strong> and will result in the deletion of your account. Please reference the documentation links below to get started.
</div>

<div id="dashboard__content">
  <div id="dash_content_nav_container">
    <%= render partial: 'shared/need-help' %>
  </div>

  <div id="dash_content_provider_container">

    <div class="dash_content_header">
      <h2>Provider Organizations</h2>
    </div>

    <%= render 'provider_orgs_list' %>
  </div>
</div>
