
  <section class="box box--flex ds-u-margin-y--0">
    <div class="box__content box--flex ds-u-fill--primary-darkest ds-u-color--white public-key__form-instruction">
      <ol>
        <li>
          Select the sandbox <b>ENVIRONMENT</b>.
        </li>
        <li>
          Add a <b>LABEL</b> for your public key that can be easily recognized in the future.
        </li>
        <li>
          The <b>PUBLIC KEY</b> field <u>must include</u> the “BEGIN PUBLIC KEY” and “END PUBLIC KEY” tags from your public.pem file.

          <%= image_tag("public-key-example.svg", alt: "") %>
        </li>
        <li>
          The public key signature (snippet.txt.sig file) <u>must yield</u> “Verified Ok” results in order to successfully generate the signature.sig file and paste its contents in the <b>PUBLIC KEY SIGNATURE</b> field.
        </li>
      </ol>

      <div class="ds-u-font-style--italic ds-u-text-align--center">
        <span class="ds-u-color--error"><b>Need Help?</b></span> See <b>DPC’s User Guide</b> for more information.
      </div>
    </div>
    <div class="box__content">
      <p class="ds-text--lead">This key will be added for <strong><%= @organization.name %></strong>.</p>

      <%= form_tag organization_public_keys_path(organization_id: params[:organization_id]), method: :post do %>
        <div class="field ds-u-margin-y--5">
          <%= label_tag :api_environment, "1. Environment", class: "ds-c-label" %>
          <%= select_tag :api_environment, options_for_select(@organization.registered_api_envs, params[:api_environment]), include_blank: true, class: "ds-c-field drop-down" %>
        </div>

        <div class="field ds-u-margin-y--5">
          <%= label_tag :label, "2. Label", class: "ds-c-label" %>
          <%= text_field_tag :label, params[:label], class: "ds-c-field" %>
        </div>

        <div class="field ds-u-margin-y--5">
          <%= label_tag :public_key, "3. Public Key", class: "ds-c-label" %>
          <%= text_area_tag :public_key, params[:label], class: "ds-c-field" %>
        </div>

        <div class="field ds-u-margin-y--5">
          <%= label_tag :snippet_signature, "4. Signature Snippet", class: "ds-c-label" %>
          <%= text_area_tag :snippet_signature, params[:label], class: "ds-c-field" %>
        </div>

        <%= submit_tag "Add key", class: "ds-c-button ds-c-button--primary", data: { test: "form-submit" } %>
      <% end %>
    </div>
  </section>