<% title "New Public Key" %>

<div class="ds-u-padding-x--0 ds-u-fill--white">
  <section class="ds-u-display--flex ds-u-justify-content--between ds-u-margin-top--4 ds-u-align-items--center public-key__intro-container">
    <div class="public-key__intro">
      <div class="ds-u-padding-left--7 ds-u-padding-top--2 ds-u-padding-right--4 ds-u-padding-bottom--2 ds-h1 public-key__intro-header">
        How to Generate a Public Key
      </div>
      <div class="ds-u-font-style--italic public-key__intro-windows">
        <b>Window users</b><br />
        If you are using Windows, you can use this link for downloading openSSL: <%= link_to 'https://wiki.openssl.org/index.php/Binaries' %>
      </div>
    </div>
    <div class="public-key__files">
      Please ensure all files created from this page are stored in ONE folder.<br />
      (These include: private.pem, public.pem, snippet.txt, snippet.txt.sig, signature.sig)
    </div>
  </section>

  <section class="ds-l-container preview__grid">
    <div class="ds-l-row">
      <div class="ds-l-col step_1">
        <%= image_tag("private_key_image.svg", alt: "") %>
        <h4>1. Generate a private key</h4>
        <div>
        Use the command invocation:
        </div>
        <p class="ds-u-font-weight--bold"><span class="ds-u-color--error">IMPORTANT!</span> The contents of your private key (private.pem file) should be treated as sensitive/secret information. Take care in the handling and storage of this information as it is essential to the security of your connection with DPC.</p>
      </div>
      <div class="ds-l-col step_2">
        <h4>2. Generate a public key</h4>
      </div>
      <div class="ds-l-col step_3">
        <h4>3. Create public key signature</h4>
      </div>
      <div class="ds-l-col step_4">
        <h4>4. Verify public key signature</h4>
      </div>
    </div>
  </section>

  <section class="ds-u-fill--warn-lightest ds-u-padding-top--3 ds-u-color--primary-darkest ds-u-text-align--center ds-u-font-weight--bold">
    <div class="ds-h2">
      Upload Your Public Key
    </div>
    <div class="ds-u-font-style--italic ds-h4">
      Please complete the following instructions to upload your public key.
    </div>
  </section>

  <section class="public-key__form-container">
    <div class="ds-u-fill--primary-darkest ds-u-padding--7 ds-u-color--white public-key__form-instruction">
      <ol>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
    <div class="public-key__form-fields">
      <p class="ds-text--lead">This key will be added for <strong><%= @organization.name %></strong>.</p>

      <%= form_tag organization_public_keys_path(organization_id: params[:organization_id]), method: :post do %>
        <div class="field ds-u-margin-y--5">
          <%= label_tag :api_environment, "Environment", class: "ds-c-label" %>
          <%= select_tag :api_environment, options_for_select(@organization.registered_api_envs, params[:api_environment]), include_blank: true, class: "ds-c-field drop-down" %>
        </div>

        <div class="field ds-u-margin-y--5">
          <%= label_tag :label, "Label", class: "ds-c-label" %>
          <%= text_field_tag :label, params[:label], class: "ds-c-field" %>
        </div>

        <div class="field ds-u-margin-y--5">
          <%= label_tag :public_key, "Public Key", class: "ds-c-label" %>
          <%= text_area_tag :public_key, params[:label], class: "ds-c-field" %>
        </div>

        <div class="field ds-u-margin-y--5">
          <%= label_tag :snippet_signature, "Signature Snippet", class: "ds-c-label" %>
          <%= text_area_tag :snippet_signature, params[:label], class: "ds-c-field" %>
        </div>

        <%= submit_tag "Add key", class: "ds-c-button ds-c-button--primary", data: { test: "form-submit" } %>
      <% end %>
    </div>
  </section>
</div>