<% title "New Public Key" %>

<div class="ds-u-padding-y--0 ds-u-fill--white public-key__container">
  <section class="ds-u-display--flex ds-u-padding-top--4 ds-u-justify-content--between ds-u-align-items--center public-key__intro-container">
    <div class="public-key__intro">
      <div class="ds-u-padding-left--7 ds-u-padding-top--2 ds-u-padding-right--4 ds-u-padding-bottom--2 ds-h1 public-key__intro-header">
        How to Generate a Public Key
      </div>
      <div class="public-key__intro-windows">
        <b>Window users</b><br />
        If you are using Windows, you can use this link for downloading openSSL: <%= link_to 'https://wiki.openssl.org/index.php/Binaries' %>
      </div>
    </div>
    <div class="ds-u-padding-left--7 ds-u-padding-bottom--7 ds-u-font-style--italic public-key__files">
      <b>Please ensure all files created from this page are stored in ONE folder.</b><br />
      (These include: private.pem, public.pem, snippet.txt, snippet.txt.sig, signature.sig)
    </div>
  </section>

  <section class="ds-l-container preview__grid">
    <div class="ds-l-row">
      <div class="ds-l-col step step_1">
        <%= image_tag("private-key-image.svg", alt: "") %>
        <h4>1. Generate a private key</h4>
        <div>
          Use the command invocation:<br />
          <code class="code-box">
          </code>
        </div>
        <p class="ds-u-font-weight--bold"><span class="ds-u-color--error">IMPORTANT!</span> The contents of your private key (private.pem file) should be treated as sensitive/secret information. Take care in the handling and storage of this information as it is essential to the security of your connection with DPC.</p>
      </div>
      <div class="ds-l-col step_2">
        <%= image_tag("public-key-image.svg", alt: "") %>
        <h4>2. Generate a public key</h4>
        <p>Paste the contents of this public.pem file into the ‘Public Key’ field below and proceed to creating your public key signature.</p>
      </div>
      <div class="ds-l-col step_3">
        <%= image_tag("create-sig-image.svg", alt: "") %>
        <h4>3. Create public key signature</h4>

        <div>
          <div>
            <%= link_to 'Download txt', download_snippet_path, class: "ds-c-button--primary" %>
          </div>
          <div>
            snippet.txt file to create signature
          </div>
        </div>
      </div>
      <div class="ds-l-col step_4">
        <%= image_tag("verify-sig-image.svg", alt: "") %>
        <h4>4. Verify public key signature</h4>

        <p>Results must confirm Verified Ok</p>

        <p>Paste the contents of this signature.sig file into the ‘Public Key Signature’ field below.</p>
      </div>
    </div>
  </section>

  <section class="ds-u-fill--warn-lightest ds-u-padding-top--3 ds-u-color--primary-darkest ds-u-text-align--center ds-u-font-weight--bold">
    <div class="ds-h2">
      Upload Your Public Key
    </div>
    <div class="ds-u-font-style--italic ds-h4">
      Please complete the following instructions to upload your public key.
    </div>
  </section>

  <section class="public-key__form-container">
    <div class="ds-u-fill--primary-darkest ds-u-color--white public-key__form-instruction">
    </div>
    <div class="public-key__form-fields">
      <p class="ds-text--lead">This key will be added for <strong><%= @organization.name %></strong>.</p>

      <%= form_tag organization_public_keys_path(organization_id: params[:organization_id]), method: :post do %>
        <div class="ds-u-padding-left--5 field_input">
          <%= label_tag :api_environment, "Environment", class: "ds-c-label" %>
          <%= select_tag :api_environment, options_for_select(@organization.registered_api_envs, params[:api_environment]), include_blank: true, class: "ds-c-field drop-down" %>
        </div>

        <div class="ds-u-padding-left--5 field_input">
          <%= label_tag :label, "Label", class: "ds-c-label" %>
          <%= text_field_tag :label, params[:label], class: "ds-c-field" %>
        </div>

        <div class="ds-u-padding-left--5 field_input">
          <%= label_tag :public_key, "Public Key", class: "ds-c-label" %>
          <%= text_area_tag :public_key, params[:label], class: "ds-c-field" %>
        </div>

        <div class="ds-u-padding-left--5 field_input">
          <%= label_tag :snippet_signature, "Signature Snippet", class: "ds-c-label" %>
          <%= text_area_tag :snippet_signature, params[:label], class: "ds-c-field" %>
        </div>

        <%= submit_tag "Add key", class: "ds-u-margin--5 ds-c-button ds-c-button--primary", data: { test: "form-submit" } %>
      <% end %>
    </div>
  </section>
</div>