<div class="ds-u-margin-y--7 flex-sp-btwn">
  <%= form_for @user, url: user_path(@user), html: { method: :put } do |f| %>
    <div class="field">
      <%= f.label :first_name, class: "ds-c-label ds-u-margin-top--0" %>
      <%= f.text_field :first_name, class: "ds-c-field" %>
    </div>
    <div class="field">
      <%= f.label :last_name, class: "ds-c-label ds-u-margin-top--0" %>
      <%= f.text_field :last_name, class: "ds-c-field" %>
    </div>
    <div class="field">
      <%= f.label :email, class: "ds-c-label ds-u-margin-top--0" %>
      <%= f.text_field :email, class: "ds-c-field" %>
    </div>
    <div class="field-group__fields ds-u-border--0 ds-u-margin-top--3">
      <%= f.submit "Save Changes", class: "ds-c-button ds-c-button--primary ds-u-margin-right--3", data: { test: "user-form-submit" } %>
      <%= link_to "Cancel", class: "ds-c-button ds-c-button--transparent", onclick: "formToggle('cancel')" %>
    </div>
  <% end %>
</div>