<div class="dashboard">
  <%= render partial: 'shared/navadmin' %>

  <div id="filter-container">
    <div>
      <%= @users.count %> Users
    </div>

    <div class="buttons-container">
      <div>
        <%= link_to download_implementers_path, class: "cvs_button" do %>
          Download CSV
        <% end %>
      </div>
      <div>
        <button type="button" class="filter-button">
          <svg class="icon ds-u-margin-right--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <use xlink:href="/adminv2/assets/solid.svg#filter"></use>
          </svg>
          Filter
        </button>
      </div>
      <div>
        <select>
          <option value="recently-added">
            Recently Added
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="card_list" id="user-list">
    <% @users.each do |user| %>
      <div class="card_container">
        <div class="card_title">
          <%= user.name %>
        </div>
        <div class="card_details">
          <div>
            <%= user.email %>
          </div>
          <div>
            Implementer <%= user.implementer %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>