<!DOCTYPE html>
<html>
  <head>
    <title>DpcPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/uswds/3.7.0/js/uswds-init.min.js', crossorigin: 'anonymous' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/uswds/3.7.0/js/uswds.min.js', crossorigin: 'anonymous' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
