<!DOCTYPE html>
<html>
  <head>
    <title>Data at the Point of Care</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'js/uswds-init.min.js' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="grid-container margin-top-4 margin-bottom-4">
    <%= javascript_include_tag 'js/uswds.min.js' %>
    <div class="grid-row">
      <div class="grid-col-fill">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
