<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-bottom--1 ds-u-margin-x--auto ds-u-border--1 ds-u-padding-bottom--2 ds-u-radius">
    <%= form_for @user, url: internal_user_path(@user), html: { method: :put } do |f| %>

      <div class="field">
        <%= f.label :first_name, class: "ds-c-label" %>
        <%= f.text_field :first_name, class: "ds-c-field" %>
      </div>

      <div class="field">
        <%= f.label :last_name, class: "ds-c-label" %>
        <%= f.text_field :last_name, class: "ds-c-field" %>
      </div>

      <div class="actions ds-u-margin-top--3">
        <%= f.submit "Save", class: "ds-c-button ds-c-button--primary", data: { test: "user-form-submit" } %>
        <%= link_to "Cancel", :back, class: "ds-c-button ds-c-button--transparent" %>
      </div>
    <% end %>
  </div>
</div>