<% title "Manage Users" %>
<%= render partial: 'shared/alerts', locals: { notice: flash[:notice], alert: flash[:alert] } %>

<div class="ds-l-row">
  <div class="ds-l-col--3">
    Nav
  </div>

  <div class="ds-l-col--9">
    <div class="ds-l-row">
      <div class="ds-title">Viewing <%= @users.count %> provider users</div>
    </div>

    <section class="">
        <% @users.each do |user| %>
        <div class="ds-l-row">
          <div class="ds-l-col user-list__item">

            <div class="user-list__content">

              <div class="user-id__content">
                <%= user.id %>
              </div>

              <div class="user-info__content">
                <div class="user-info__text user-name">
                  <%= user.name %>
                </div>

                <div class="user-info__text user-signup">
                  Signed up: <%= user.created_at %>
                </div>
              </div>
            </div>
          </div>
      </div>
        <% end %>
    </section>
  </div>
</div>