
<% title @user.name %>

<div class="ds-l-container ds-u-padding-x--0">
  <div>
    <%= link_to internal_users_path, class: "utility-button" do %>
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <use xlink:href="/assets/solid.svg#arrow-left"></use>
      </svg>
      Go back
    <% end %>

  </div>
  <section class="ds-u-display--flex ds-u-justify-content--between ds-u-align-items--center">

    <h1 class="ds-u-font-size--title ds-u-font-weight--normal ds-u-margin--0"><%= @user.name %></h1>
    <div>
      <%= link_to "Edit user", edit_internal_user_url(@user), class: "ds-c-button ds-c-button--primary" %>
    </div>
  </section>

  <section class="box">
    <div class="box__content">
      <h2 class="box__heading">Tags</h2>
      <div class="ds-u-margin-bottom--3" data-test="user-tags">
        <% if @user.taggings.count == 0 %>
          <p>No tags</p>
        <% else %>
          <% @user.taggings.each do |tagging| %>
            <span class="site-pills__item site-pills__item--small">
              <%= tagging.tag_name %>

              <%= link_to(internal_tagging_url(tagging), class: "site-pills__item__button", method: :delete, data: {test: "delete-tag-#{tagging.id}"}) do %>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <use xlink:href="/assets/solid.svg#times"></use>
                </svg>
              <% end %>
            </span>
          <% end %>
        <% end %>
      </div>

      <div>
        <%= form_for Tagging.new, url: internal_taggings_path, html: { method: :post } do |f| %>
          <%= f.label :tag_id, "New tag", class: "ds-c-label ds-u-margin-top--0" %>
          <%= f.collection_select :tag_id, available_tags(@user), :id, :name, { include_blank: true }, class: "ds-c-field" %>
          <%= f.hidden_field :taggable_id, value: @user.id %>
          <%= f.hidden_field :taggable_type, value: 'User' %>
          <%= f.submit "Add tag", class: "ds-c-button ds-u-margin-top--1", data: { test: "add-tag-submit" } %>
        <% end %>
      </div>
    </div>

    <div class="box__content">
      <h2 class="box__heading">Assigned organization</h2>
      <% if @user.organizations.present? %>
        <% @user.organizations.each do |org| %>
          <div class="ds-u-margin-bottom--1">
            <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="/assets/solid.svg#clinic-medical"></use>
            </svg>
            <%= org.name %>
          </div>

          <div class="ds-u-margin-bottom--1">
            <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="/assets/solid.svg#shapes"></use>
            </svg>
            <%= org.organization_type.titleize %>
          </div>

          <div>
            <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="/assets/solid.svg#map-marker-alt"></use>
            </svg>
            <%= org.address_street %>
          </div>

          <% if org.address_street_2.present? %>
            <div class="ds-u-padding-x--3">
              <%= org.address_street_2 %>
            <div>
          <% end %>
          <div class="ds-u-padding-x--3">
            <%= org.address_city %>, <%= org.address_state %> <%= org.address_zip %>
          </div>
        <% end %>
      <% else %>
        <p class="ds-u-color--muted">You have not assigned an organization to this person yet.</p>
        <%= link_to "Assign an organization", edit_internal_user_url, class: "ds-c-button" %>
      <% end %>
    </div>
  </section>

  <section class="box">
    <div class="box__content">
      <h2 class="box__heading">Signup info</h2>

      <div class="ds-l-row">
        <div class="ds-l-col">
          <h3 class="box__subhead">Personal info</h3>
          <div class="ds-u-margin-bottom--1">
            <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="/assets/solid.svg#user-alt"></use>
            </svg>
            <%= @user.name %>
          </div>
          <div class="ds-u-margin-bottom--1">
            <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="/assets/solid.svg#envelope"></use>
            </svg>
            <%= @user.email %>
          </div>
        </div>
        <div class="ds-l-col">
          <h3 class="box__subhead">Requested organization</h3>
          <div class="ds-u-margin-bottom--1">
            <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="/assets/solid.svg#clinic-medical"></use>
            </svg>
            <%= @user.requested_organization %>
          </div>

        <% unless @user.requested_organization_type == "health_it_vendor" %>
          <div class="ds-u-margin-bottom--1">
            <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="/assets/solid.svg#users"></use>
            </svg>
            <%= @user.requested_num_providers %>
          </div>
        <% end %>

        <div class="ds-u-margin-bottom--1">
          <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <use xlink:href="/assets/solid.svg#shapes"></use>
          </svg>
          <%= @user.requested_organization_type.titleize %>
        </div>

        <div>
          <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <use xlink:href="/assets/solid.svg#map-marker-alt"></use>
          </svg>
          <%= @user.address_1 %>
        </div>

        <% if @user.address_2.length > 1 %>
          <div class="ds-u-padding-x--3">
            <%= @user.address_2 %>
          <div>
        <% end %>
        <div class="ds-u-padding-x--3">
          <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>