<!DOCTYPE html>
<html>
  <head>
    <title>Data Point of Care</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="ds-base">
    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <!-- content -->
    <div class="ds-l-container">
      <%= yield %>
    </div>

  </body>
</html>
