<!DOCTYPE html>
<html lang="en">

  <%= render partial: 'shared/head' %>

  <body class="ds-base">
    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <div class="ds-l-container">
      <div class="ds-l-row">
        <div class="ds-l-col--12">
          <h1><%= yield(:title) %></h1>
        </div>
      </div>
    </div>

    <!-- content -->
    <section class="ds-l-container" id="main">
      <%= yield %>
    </section>


    <%= render partial: 'shared/footer' %>

  </body>
</html>
