<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : 'CMS.gov' %> | Data at the Point of Care
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="ds-base">

    <a class="ds-c-skip-nav" href="#main">Skip to main content</a>

    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <!-- hero -->
    <% if controller.controller_name == "public" %>
    <div class="hero">
      <div class="ds-l-container">
        <div class="ds-l-row">
          <div class="ds-l-col--12">
            <h1 class="ds-display">A 360º view of patients’ history </h1>
          </div>
        </div>
        <div class="ds-l-row ds-u-margin-top--3">
          <div class="ds-l-col--8 ds-text--lead">
            As patients move throughout the healthcare system, providers often struggle to gain and maintain a complete picture of their medical history. Data at the Point of Care fills in the gaps with claims data to inform providers with structured patient history, past procedures, medication adherence, and more.
          </div>
        </div>
        <div class="ds-u-margin-top--7">
          <a class="ds-c-button ds-c-button--big ds-c-button--success ds-u-margin-right--2">
            <svg class="ds-u-margin-right--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 24 24">
            <use xlink:href="/assets/solid.svg#key"></use>
          </svg>
          Request acccess</a>

          <%= link_to docs_path, :class => "ds-c-button ds-c-button--inverse ds-c-button--big" do %>
            <svg class="ds-u-margin-right--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 24 24">
              <use xlink:href="/assets/solid.svg#code"></use>
            </svg>API documentation
          <% end %>
        </div>

        <p class="ds-u-margin-top--7">Note: The Data at the Point of Care is currently a pilot program from CMS. <a href="#about-the-pilot">Learn more</a></p>
      </div>
    </div>
    <% else %>
    <div class="ds-l-container">
      <div class="ds-l-row">
        <div class="ds-l-col--12">
          <h1><%= yield(:title) %></h1>
        </div>
      </div>
    </div>
    <% end %>

    <!-- content -->
    <% if controller.controller_name == "public" %>
      <%= yield %>
    <% else %>
    <section class="ds-l-container" id="main">
      <%= yield %>
    </section>
    <% end %>


    <%= render partial: 'shared/footer' %>

  </body>
</html>
