<!DOCTYPE html>
<html>
  <head>
    <title>Data Point of Care</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="ds-base">

    <a class="ds-c-skip-nav" href="#main">Skip to main content</a>

    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <!-- content -->
    <section class="ds-l-container" id="main">
      <%= yield %>
    </section>

  </body>
</html>
