<!DOCTYPE html>
<html lang="en">

  <%= render partial: 'shared/head' %>

  <body class="ds-base">
    <%= render partial: 'shared/tealium' %>

    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <!-- content -->
    <section class="ds-u-padding-y--7 ds-u-fill--primary-darkest" id="main">
      <div class="ds-l-container">
        <%= yield %>
      </div>
    </section>


    <%= render partial: 'shared/footer' %>

  </body>
</html>
