<!DOCTYPE html>
<html lang="en">

  <%= render partial: 'shared/head' %>

  <body class="ds-base">

    <%= render partial: 'shared/tealium' %>

    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <!-- hero -->
    <%= render partial: 'public/hero' %>

    <!-- main content -->
    <%= yield %>

    <%= render partial: 'shared/footer' %>

  </body>
</html>
