<!DOCTYPE html>
<html lang="en">

  <%= render partial: 'shared/head' %>

  <body class="ds-base ds-u-fill--white">
    <%= render partial: 'shared/tealium' %>

    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <div class="header-seperator"></div>




    <%= render partial: 'shared/alerts', locals: { notice: flash[:notice], alert: flash[:alert] } %>

    <!-- content -->
    <section class="ds-u-padding-top--0 ds-u-margin-bottom--0 ds-u-fill--gray-lighter" id="main">
      <%= yield %>
    </section>


    <%= render partial: 'shared/footer' %>

  </body>
</html>
