<!DOCTYPE html>
<html lang="en">

  <%= render partial: 'shared/head' %>

  <body class="ds-base ds-u-fill--gray-ultra-light">
    <%= render partial: 'shared/tealium' %>

    <!-- nav -->
    <%= render partial: 'shared/navbar' %>

    <div class="header-seperator"></div>

    <%= render partial: 'shared/alerts', locals: { notice: flash[:notice], alert: flash[:alert] } %>

    <!-- content -->
    <section class="ds-l-container ds-u-padding-top--7 ds-u-margin-bottom--7 ds-u-max-width--none" id="main">
      <%= yield %>
    </section>


    <%= render partial: 'shared/footer' %>

  </body>
</html>
