<div>
  <h1>Generate new client token</h1>
  <div>
    <p>Add a client token to monitor who's accessing the API with your organization credentials.

    <%= form_tag organization_client_tokens_path(organization_id: organization.path_id), method: :post do %>

    <%= render(Core::Form::TextInputComponent.new(label: 'Enter token name',
        attribute: :label,
        hint: 'Choose a name that will be easy to identify.',
        default: params[:label],
        error_msg: @errors[:label],
        input_options: { maxlength: 25 })) %>
    <%= submit_tag "Generate token", class: "usa-button", data: { test: "form-submit" } %>
    <%= link_to 'Cancel', organization_path(organization.path_id), class: ['usa-button', 'usa-button--outline'] %>
    </p>
    <p class="margin-top-5"><%= link_to 'View API Documentation', 'https://dpc.cms.gov/docsV1' %></p>
    <% end %>
  </div>
</div>
