<% title "Request access" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-bottom--1 ds-u-margin-x--auto">
    <div class="card card--border-top card--shadow">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <h1 class="ds-u-margin-top--0">Request access</h1>

        <div class="field">
          <%= f.label :first_name, class: "ds-c-label" %>
          <%= f.text_field :first_name, class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :last_name, class: "ds-c-label" %>
          <%= f.text_field :last_name, class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :email, class: "ds-c-label" %>
          <%= f.email_field :email, autocomplete: "email", class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "ds-c-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "ds-c-label" %>
          <%= f.password_field :password_confirmation, class: "ds-c-field" %>
        </div>

        <h2>Your organization</h2>

        <div class="field">
          <%= f.label :requested_organization, "Name of your organization", class: "ds-c-label" %>
          <%= f.text_field :requested_organization, class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :requested_organization_type, 'Type of organization', class: "ds-c-label" %>
          <%= f.select :requested_organization_type,
            organization_types_for_select,
            { include_blank: 'Please select' },
            class: "ds-c-field",
            :data => {:hide_follow_up => 'health_it_vendor'},
            value: @user.requested_organization_type
          %>
          <div class="field field--follow-up" hidden>
            <%= f.label :requested_num_providers, class: "ds-c-label" do %>
            Number of Providers at Your Organization
            <span class="ds-c-field__hint">You may use an approximate number.</span>
            <% end %>
            <%= f.number_field :requested_num_providers, min: 0, class: "ds-c-field ds-c-field--small" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :address_1, class: "ds-c-label" %>
          <%= f.text_field :address_1, class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :address_2, "Address 2 (optional)", class: "ds-c-label" %>
          <%= f.text_field :address_2, class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :city, class: "ds-c-label" %>
          <%= f.text_field :city, class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :state, class: "ds-c-label" %>
          <%= f.select :state,
                states_for_select,
                { include_blank: 'Please select a state' },
                class: "ds-c-field",
                value: @user.state
          %>
        </div>

        <div class="field">
          <%= f.label :zip, class: "ds-c-label" %>
          <%= f.text_field :zip, class: "ds-c-field" %>
        </div>

        <div class="field ds-u-margin-top--3">
          <%= f.check_box :agree_to_terms, class: 'ds-c-choice' %>
          <%= f.label :agree_to_terms do %>
          I agree to the <%= link_to " terms of service", terms_of_service_path %>
          <% end %>
        </div>

        <div class="actions ds-u-margin-top--3">
          <%= f.submit "Sign up", id: 'sign-up', class: "ds-c-button ds-c-button--primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-x--auto">
    <div class="card">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>