<% title "Password expired" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-bottom--1 ds-u-margin-x--auto">
    <div class="card card--border-top card--shadow">
      <h2><%= t('.renew_your_password') %></h2>

      <%= form_for(resource, as: resource_name, url: [resource_name, :password_expired], html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <p><%= f.label :current_password, t('.current_password'), class: "ds-c-label" %><br />
        <%= f.password_field :current_password, class: "ds-c-field" %></p>

        <p><%= f.label :password, t('.new_password'), class: "ds-c-label" %>
          <div class="password-check-list">
            Password must contain at least:<br />
            <div id="password-char-set" class="invalid">
              15 characters minimum
            </div>
            <div id="password-lower-set" class="invalid">
              1 lowercase letter
            </div>
            <div id="password-upper-set" class="invalid">
              1 uppercase letter
            </div>
            <div id="password-num-set" class="invalid">
              1 number
            </div>
            <div id="password-special-set" class="invalid">
              1 special character (!@#$&*-)
            </div>
          </div>
        <%= f.password_field :password, class: "ds-c-field", onkeyup: "passwordCheck('user_password')" %></p>

        <p><%= f.label :password_confirmation, t('.new_password_confirmation'), class: "ds-c-label" %>
          <div class="password-check-list">
            <div id="password-confirm-set" class="invalid">
              Confirm password
            </div>
          </div>
        <%= f.password_field :password_confirmation, class: "ds-c-field", onkeyup: "passwordCheck('user_password_confirmation')" %></p>

        <p><%= f.submit 'Change my password', class: "ds-c-button ds-c-button--primary", data: {test: "submit"} %></p>
      <% end %>
    </div>
  </div>
</div> 
