<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Data at the Point of Care</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Create an account in the new DPC Portal</h1>

    <p>You’ve been identified as the Authorized Official for:</p>
    <ul>
        <li><%= @invitation.provider_organization.name %></li>
        <li>NPI: <%= @invitation.provider_organization.npi %></li>
    </ul>

    <p>DPC has launched a new verification process for API access. You'll need to register your organization in DPC’s new onboarding portal.</p>

    <p>👉 <%= link_to 'Register in DPC Portal.',
	   organization_invitation_url(@invitation.provider_organization, @invitation, protocol: Rails.env.production? ? 'https' : 'http') %></p>

    <p>(This link will expire in 48 hours.)</p>

    <p>If you have questions or need help, contact <%= mail_to "dpcinfo@cms.hhs.gov", "dpcinfo@cms.hhs.gov" %></p>


    <h2>What is DPC?</h2>

    <p>The <%= link_to 'DPC API', 'https://dpc.cms.gov/' %> gives your organization access to Medicare claims data for treatment and care coordination.</p>

    <h2>What happens when I register?</h2>

    <p>You will be asked to sign in or create an account with a government-approved identity verification service.</p>

    <p>If you want, you can assign a delegate to set up and manage your organization’s API access.</p>

    <p>Thanks for your participation in Data at the Point of Care.</p>
  </body>
</html>
