<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Data at the Point of Care</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @invitation.invited_given_name %> <%= @invitation.invited_family_name %>,</h1>
    <p><%= @invitation.invited_by.given_name %> <%= @invitation.invited_by.family_name %> has invited you to manage
      the credentials for <%= @invitation.provider_organization.name %> within Data at the Point of Care.</p>
    <p><%= link_to 'Accept this invitation', accept_organization_credential_delegate_invitation_url(@invitation.provider_organization, @invitation) %></p>
    <p>Sincerely,</p>

    <p>The Data at the Point of Care Team</p>
  </body>
</html>
