<div class="ds-l-row--12">
  <% @user.organizations.each do |organization| %>

    <h2 class="dashboard-section-heading"><%= organization.name %></h2>

    <section class="box">
      <div class="box__content">

        <h2 class="box__heading ds-h2">Client tokens</h2>

          <%= link_to new_organization_client_token_path(organization_id: organization.id), class: "ds-c-button ds-c-button--primary", data: { test: "new-client-token" } do %>
            <svg class="icon ds-u-margin-right--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <use xlink:href="/assets/solid.svg#plus"></use>
            </svg>
            New token
          <% end %>

          <div class="ds-l-row">
          <div class="ds-l-col--12">
            <% organization.registered_organizations.each do |reg_org| %>
              <% reg_org.client_tokens.each do |token| %>
                <div class="module-container">
                  <div class="module-container__primary">
                    <h3 class="module-container__heading"><%= token['label'] %></h3>
                    <div class="ds-u-margin-bottom--1">
                      <label class="ds-u-margin-right--1 ds-u-color--muted">Created at:</label>
                      <%= token['createdAt'] %>
                    </div>

                    <div class="ds-u-margin-bottom--1">
                      <label class="ds-u-margin-right--1 ds-u-color--muted">Expires at:</label>
                      <%= token['expiresAt'] %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
      </div>
    </section>

    <section class="box">
      <div class="box__content">
        <h2 class="box__heading">Public Keys</h2>

        <div class="ds-l-row--12">
          <div class="ds-l-col--12">
            No keys yet.
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>