<section class="usa-section">
  <div class="grid-row margin-x-neg-205 flex-justify-center">
    <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205 margin-bottom-4">
      <h1 class="desktop:display-none font-sans-lg margin-bottom-4 tablet:margin-top-neg-3">
        Welcome to the DPC API Portal.
      </h1>
      <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
        <h1 class="margin-bottom-0">DPC Portal sign in</h1>
        <p>Sign in with your DPC Portal Login.gov account</p>
        
        <%# Build a login button for each CSP %>
        <%
          csps = [
            { id: :clear, logo_class: 'clear-login-button__logo', text: 'CLEAR', login_path: helpers.omniauth_authorize_path(:clear) },
            { id: :id_me, logo_class: 'idme-login-button__logo', text: 'ID.me', login_path: helpers.omniauth_authorize_path(:id_me) },
            { id: :login_dot_gov, logo_class: 'lg-login-button__logo', text: 'Login.gov', login_path: helpers.omniauth_authorize_path(:login_dot_gov) }
          ]
        %>
        <% csps.each do |csp| %>
          <% is_last_used = (@last_used_csp == csp[:id]) %>
          <div class="<%= class_names('last-used-login-wrapper margin-bottom-1': is_last_used) %>">
            <%= button_to csp[:login_path],
                          class: class_names('usa-button width-full margin-bottom-1', 'usa-button--outline': @last_used_csp.present? && !is_last_used),
                          data: { turbo: false } do %>
              <span class="<%= csp[:logo_class] %>"><%= csp[:text] %></span>
            <% end %>
            <%= content_tag(:span, 'LAST USED', class: 'last-used-login-wrapper__badge') if is_last_used %>
          </div>
        <% end %>

        <div class="line-separator margin-bottom-2 margin-top-2"></div>
        <%= render(Core::Navigation::SystemUseAgreementLinkComponent.new) %>
      </div>
    </div>
    <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205">
      <div class="border-top border-base-lighter padding-top-4 desktop:border-0 desktop:padding-top-0">
        <h2 class="display-none desktop:display-block margin-top-0">
	  Welcome to the DPC API Portal.
	</h2>
        <div class="usa-prose">
          <p>Have an invite?</p>
          <ul class="sign-in-instructions">
            <li>Sign in using the account you created from your invitation. We recommend choosing the same identity provider you used when you set up your account.</li>
            <li>Be sure to use the same email address the invite was sent to.</li>
          </ul>
          <div class="line-separator margin-y-3"></div>
          <p>New to DPC?</p>
          <ul class="sign-in-instructions">
            <li>Production access is invite-only, but you can start exploring right away with our Sandbox — a publicly available environment with synthetic test data and no invite required.</li>
          </ul>
          <div class="margin-top-3">
            <a href="https://sandbox.dpc.cms.gov/" class="usa-button--outline usa-button">Sign up for DPC Sandbox</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
