<% title "Create an account" %>

<div class="ds-l-row">
  <div class="ds-l-col--12 ds-l-md-col--6 ds-u-margin-bottom--1 ds-u-margin-x--auto">
    <div class="card card--border-top card--shadow">
    
    <h1 class="ds-u-margin-bottom--0">Hello <%= resource.first_name %> <%= resource.last_name %>!</h1>
    <h3 class="ds-u-margin-top--0">from <%= resource.implementer %></h3>

    <div>
      A member from your team has invited you to create an account in the DPC sandbox portal. You may begin testing in the sandbox environment after creating a password for your account.
    </div>

    <div class="ds-u-margin-y--3" id="invited-email">
      <strong>Email:</strong> <%= resource.email %>
    </div>

    <div class="ds-c-alert ds-c-alert--warn-no-icon">
      <div class="ds-u-color--gray">
        <strong>This email is your username to log into DPC.</strong> You may change this at any time via your User Profile settings after account creation. Please create a password and agree to the terms of service below to log in.
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :invitation_token, readonly: true %>

      <% if f.object.class.require_password_on_accepting %>
        <div class="field">
          <%= f.label :password, class: "ds-c-label" %>
          <div class="password-check-list">
            Password must contain at least:<br />
            <div id="password-char-set" class="invalid">
              <%= @minimum_password_length %> characters minimum
            </div>
            <div id="password-lower-set" class="invalid">
              1 lowercase letter
            </div>
            <div id="password-upper-set" class="invalid">
              1 uppercase letter
            </div>
            <div id="password-num-set" class="invalid">
              1 number
            </div>
            <div id="password-special-set" class="invalid">
              1 special character (!@#$&*-)
            </div>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: "ds-c-field", onkeyup: "fieldBlankCheck('user_password', 'user_password_blank'); passwordCheck('user_password')" %>
          <div class="ds-u-color--error-dark" id="user_password_blank">
          </div>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "ds-c-label" %>
          <div class="password-check-list">
            <div id="password-confirm-set" class="invalid">
              Confirm password
            </div>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "ds-c-field", onkeyup: "fieldBlankCheck('user_password_confirmation', 'user_password_confirmation_blank'); passwordCheck('user_password_confirmation')" %>
          <div class="ds-u-color--error-dark" id="user_password_confirmation_blank">
          </div>
        </div>
      <% end %>

      <div class="field tos-container">
        <%= f.check_box :agree_to_terms, class: 'ds-c-choice' %>
        <%= f.label :agree_to_terms, class: 'tos' do %>
        <!-- TODO: link to TOS -->
        I agree to the&nbsp;<a href="<%= ENV['STATIC_SITE_URL'] %>/tos">Terms of Service</a>
        <% end %>
      </div>

      <div class="actions ds-u-margin-top--3">
        <%= f.submit t("devise.invitations.edit.submit_button"), class: "ds-c-button ds-c-button--primary", data: {test: "submit"} %>
      </div>
    <% end %>
    </div>
  </div>
</div>
