
    <%= form_for @user, url: user_path(@user), html: { method: :put } do |f| %>

    <fieldset class="ds-l-row field-group">
      <div class="ds-l-col--9 field-group__fields">
        <div class="field">
          <% unless @user.unassigned? %>
            <legend class="field-group__heading">Organization</legend>
            <div class="ds-u-margin-bottom--1">
              <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <use xlink:href="/admin/assets/solid.svg#clinic-medical"></use>
              </svg>
              <%= link_to @user.primary_organization.name, organization_path(@user.primary_organization) %>
            </div>

            <div class="ds-u-margin-bottom--1">
              <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <use xlink:href="/admin/assets/solid.svg#shapes"></use>
              </svg>
              <%= @user.primary_organization.organization_type.titleize %>
            </div>

            <div class="">
              <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <use xlink:href="/admin/assets/solid.svg#map-marker-alt"></use>
              </svg>
              <%= @user.primary_organization.address_street %>
            </div>

            <% if @user.primary_organization.address_street_2.present? %>
              <div class="ds-u-padding-x--3">
                <%= @user.primary_organization.address_street_2 %>
              <div>
            <% end %>
            <div class="ds-u-padding-x--3">
              <%= @user.primary_organization.address_city %>, <%= @user.primary_organization.address_state %> <%= @user.primary_organization.address_zip %>
            </div>
          <% end %>
          <%= render "users/org_search" %>

          <% if @user.unassigned? %>
            <div id="requested_org_hint" class="ds-u-fill--primary-alt-lightest ds-u-padding--3 ds-u-margin-top--5 ds-u-radius ds-u-border--1">
              <h2 class="ds-u-margin-top--0 ds-u-font-size--h4">This user originally requested</h2>
              <div class="ds-u-margin-bottom--1">
                <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <use xlink:href="/admin/assets/solid.svg#clinic-medical"></use>
                </svg>
                <%= @user.requested_organization %>
              </div>

              <% unless @user.requested_organization_type == "health_it_vendor" %>
                <div class="ds-u-margin-bottom--1">
                  <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <use xlink:href="/admin/assets/solid.svg#users"></use>
                  </svg>
                  <%= @user.requested_num_providers %>
                </div>
              <% end %>

              <div class="ds-u-margin-bottom--1">
                <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <use xlink:href="/admin/assets/solid.svg#shapes"></use>
                </svg>
                <%= @user.requested_organization_type.titleize %>
              </div>

              <div>
                <svg class="icon ds-u-margin-right--1 ds-u-color--muted" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <use xlink:href="/admin/assets/solid.svg#map-marker-alt"></use>
                </svg>
                <%= @user.address_1 %>
              </div>

              <% if @user.address_2.length > 1 %>
                <div class="ds-u-padding-x--3">
                  <%= @user.address_2 %>
                <div>
              <% end %>
              <div class="ds-u-padding-x--3">
                <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
              </div>

              <p><%= link_to new_organization_path(user_id: @user.id),
                  data: { test: 'convert-org-link' }, class: "ds-c-button ds-u-fill--white" do %>
                    Create an organization from this info
                    <svg class="icon ds-u-margin-left--1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <use xlink:href="/admin/assets/solid.svg#arrow-right"></use>
                    </svg>

                  <% end %>
                </p>
            </div>
          <% end %>

        </div>
      </div>
    </fieldset>

    <fieldset class="ds-l-row field-group">
      <div class="ds-l-col--3">
        <legend class="field-group__heading">Personal Info</legend>
      </div>

      <div class="ds-l-col--9 field-group__fields">
        <div class="field">
          <%= f.label :first_name, class: "ds-c-label ds-u-margin-top--0" %>
          <%= f.text_field :first_name, class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :last_name, class: "ds-c-label" %>
          <%= f.text_field :last_name, class: "ds-c-field" %>
        </div>

        <div class="field">
          <%= f.label :email, class: "ds-c-label" %>
          <%= f.text_field :email, class: "ds-c-field" %>
        </div>
      </div>
    </fieldset>

    <div class="ds-l-row field-group actions">
      <div class="ds-l-col--3">

      </div>

      <div class="ds-l-col--9 field-group__fields ds-u-border--0">
        <%= f.submit "Update user", class: "ds-c-button ds-c-button--primary", data: { test: "user-form-submit" } %>
        <%= link_to "Cancel", user_path(@user), class: "ds-c-button ds-c-button--transparent" %>
      </div>

    <% end %>
