<footer class="ds-base ds-u-fill--white ds-u-padding-y--6 site-footer" role="contentinfo">
  <div class="ds-l-container">
    <div class="ds-l-row">
      <div class="ds-u-font-size--small ds-l-col--12 ds-l-sm-col--12 ds-l-lg-col--3 ds-u-margin-bottom--2">
        <div class="ds-u-float--left ds-u-margin-right--2">
          <%= render partial: 'shared/hhs-logo' %>
        </div>
        <p class="ds-u-margin-top--0 ds-u-measure--wide">A federal government website managed by the Centers for Medicare &amp; Medicaid Services 7500 Security Boulevard, Baltimore, MD 21124</p>
      </div>
      <div class="ds-l-col--12 ds-l-sm-col--4 ds-l-lg-col--3 ds-u-margin-bottom--2">
        <h2 class="ds-h4">Data at the Point of Care</h2>
        <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
          <li><%= link_to "Documentation", ENV.fetch('STATIC_SITE_URL') + '/docsV2' %></li>
          <li><%= link_to "Frequently asked questions", ENV.fetch('STATIC_SITE_URL') + '/faq' %></li>
          <li><%= link_to "Terms of Service", ENV.fetch('STATIC_SITE_URL') + '/tos' %></li>
          <li><a target="_blank" href="https://github.com/CMSgov/dpc-app" rel="noopener noreferrer">DPC on GitHub</a></li>
          <li><a target="_blank" href="https://groups.google.com/d/forum/dpc-api" rel="noopener noreferrer">DPC Google Group</a></li>
        </ul>
      </div>
      <div class="ds-l-col--12 ds-l-sm-col--4 ds-l-lg-col--3 ds-u-margin-bottom--2">
        <h2 class="ds-h4">CMS &amp; HHS Websites</h2>
        <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
          <li><a target="_blank" href="https://www.cms.gov/" rel="noopener noreferrer">CMS.gov</a></li>
          <li><a target="_blank" href="https://www.medicare.gov/" rel="noopener noreferrer">Medicare.gov</a></li>
          <li><a target="_blank" href="https://www.mymedicare.gov/" rel="noopener noreferrer">MyMedicare.gov</a></li>
          <li><a target="_blank" href="https://www.medicaid.gov/" rel="noopener noreferrer">Medicaid.gov</a></li>
          <li><a target="_blank" href="https://www.healthcare.gov/" rel="noopener noreferrer">Healthcare.gov</a></li>
          <li><a target="_blank" href="https://www.hhs.gov/" rel="noopener noreferrer">HHS.gov</a></li>
        </ul>
      </div>
      <div class="ds-l-col--12 ds-l-sm-col--4 ds-l-lg-col--3 ds-u-margin-bottom--2">
        <h2 class="ds-h4">Additional resources</h2>
        <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
          <li><a target="_blank" rel="noopener noreferrer" href="https://design.cms.gov/">CMS Design System</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://www.foia.gov/">Freedom of Information Act</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://oig.hhs.gov/">Inspector General</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/NoFearAct.html">No Fear Act</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://www.medicare.gov/about-us/plain-writing/plain-writing.html">Plain Writing</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://www.usa.gov/">USA.gov</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<%= javascript_include_tag 'application' %>