<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::AO_STEPS, 2)) if @invitation.authorized_official? %>
<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::CD_STEPS, 2)) if @invitation.credential_delegate? %>
<div>
  <div>
    <% if @invitation.authorized_official? %>
      <p>Next, we need to verify your organization's Medicare enrollment information. We're confirming:
        <ul>
          <% @musts.each do |must| %>
            <li class="margin-top-2"><%= must %></li>
          <% end %>
        </ul>
      </p>
    <%= render Core::Button::ButtonComponent.new(label: 'Verify information',
        destination: confirm_organization_invitation_path(@organization, @invitation),
        method: :post) %>
    <% end %>
    <% if @invitation.credential_delegate? %>
    <p>Your identity has been verified. You can now accept your invite</p>
    <%= render Core::Button::ButtonComponent.new(label: 'Accept invite',
        destination: register_organization_invitation_path(@organization, @invitation),
        method: :post) %>
    <% end %>
  </div>
</div>
