<div>
  <h1><%= t(@status) %></h1>
  <div>
    <p>
      <%=raw t(key=@text, org_name: @org_name) %>
    </p>
  </div>
  <% 'have to put the case statement here, as do not have route helper in ViewComponent'
    case(@reason)
      when :ao_expired %>
        <%= render Core::Button::ButtonComponent.new(label: "Request new invite",
            disabled: @invitation&.renewed?,
            destination: renew_organization_invitation_path(@invitation.provider_organization, @invitation),
            method: :post) %>
      <% when :accepted %>
        <%= button_to new_user_session_path, class: 'usa-button', method: :get, data: { turbo: false } do %>
          Sign in with <span class="login-button__logo">Login.gov</span>
        <% end %>
      <% when :invalid %>
        <%= render Core::Button::ButtonComponent.new(label: "Go to DPC home",
            destination: 'https://dpc.cms.gov/',
            method: :get) %>
    <% end %>
</div>
