<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::AO_STEPS, 1)) if @invitation.authorized_official? %>
<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::CD_STEPS, 1)) if @invitation.credential_delegate? %>
<div>
  <p>To register your organization you'll need to 1) have a Login.gov account and 2) verify your identity. Info to have ready:
    <ul>
      <% @musts.each do |must| %>
      <li class="margin-top-2"><%= must %></li>
      <% end %>
    </ul>
  </p>
  <%= button_to login_organization_invitation_url(@invitation.provider_organization, @invitation), class: 'usa-button margin-bottom-1 margin-top-2', data: { turbo: false } do %>
  Sign in with <span class="login-button__logo">Login.gov</span>
  <% end %>
  <%= render(Core::Navigation::SystemUseAgreementLinkComponent.new) %>
  <div><%= link_to 'How to verify your identity', 'https://login.gov/help/verify-your-identity/how-to-verify-your-identity/' %> <%= link_to 'Login.gov help', 'https://www.login.gov/help/', target: :_blank, class: 'margin-left-2' %></div>
</div>
