<div>
  <div>
    <h2>Provide invite code</h2>
    <p>You are invited to <%= @organization.name %> by the Authorized Official (AO),
      <%= @invitation.invited_by&.given_name %> <%= @invitation.invited_by&.family_name %>.</p>
    <%= form_tag verify_code_organization_invitation_path(@organization, @invitation), method: :post, class: ['usa-form'], id: "cd-accept-form" do %>
    <%= render(Core::Form::TextInputComponent.new(label: 'Enter the invite code:',
	attribute: :verification_code,
	error_msg: @invitation.errors[:verification_code]&.first,
	input_options: { maxlength: 6 })) %>
    <% if @invitation.failed_attempts.positive? %>
      <p style="color: #b50909">Incorrect invite code. You have <%= @invitation.attempts_remaining %> remaining attempts.</p>
    <% end %>
    <%= submit_tag "Validate invite code", class: "usa-button", data: { test: "form:submit" } %>
    <% end %>

  </div>
</div>
