<section class="usa-section">
  <div class="grid-row margin-x-neg-205 flex-justify-center">
    <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205">
      <div class="border-top border-base-lighter padding-top-4 desktop:border-0 desktop:padding-top-0">
        <h1 class="display-none desktop:display-block margin-top-2">
          Welcome to the DPC Portal
        </h1>
        <h1 class="desktop:display-none font-sans-lg margin-bottom-4 tablet:margin-top-neg-3">
          Welcome to the DPC Portal
        </h1>
        <div class="usa-prose">
          <% if @invitation.authorized_official? %>
            <p>To access the DPC API portal, an Authorized Official (AO) needs to register your organization. This registration request is for <strong><%= @invitation.invited_email %></strong> at <%= @organization.name %>. Use this email to sign in or create a Login.gov account.</p>
            <p>DPC uses Login.gov for identity verification. Continue to sign in or created a Login.gov account.</p>
          <% end %>
          <% if @invitation.credential_delegate? %>
            <p>Welcome <%= @name %> (<%= @invitation.invited_email %>).</p>
            <p>You've been delegated to manage access to the Data at the Point of Care (DPC) API for <%= @organization.name %> (NPI <%= @organization.npi %>). </p>
          <% end %>
          <div class="usa-alert usa-alert--warning margin-bottom-4">
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                This invitation will expire in <strong><%= @expiration %></strong>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205 margin-bottom-4">
      <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
        <% if @invitation.authorized_official? %>
          <h2 class="margin-bottom-0">It's time to register your organization</h2>
        <% end %>
        <% if @invitation.credential_delegate? %>
          <h2 class="margin-bottom-0">It's time to accept your organization invite.</h2>
        <% end %>
        <p>
          <% if @invitation.authorized_official? %>
            To register your organization you must:
          <% end %>
          <% if @invitation.credential_delegate? %>
            To confirm your role as delegate you need to:
          <% end %>
          <ul class="usa-icon-list">
            <% @musts.each do |must| %>
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                <%= render Core::Icon::UswdsComponent.new('check_circle', additional_classes: @list_styles) %>
              </div>
              <div class="usa-icon-list__content">
                <%= must %>
              </div>
            </li>
            <% end %>
          </ul>
        </p>
        <%= render Core::Button::ButtonComponent.new(label: 'Begin registration',
            destination: accept_organization_invitation_path(@organization, @invitation),
                                                     additional_classes: ['start-component-button'],
            method: :get) if @invitation.authorized_official? %>
        <%= render Core::Button::ButtonComponent.new(label: 'Accept invitation',
            destination: confirm_cd_organization_invitation_path(@organization, @invitation),
                                                     additional_classes: ['start-component-button'],
            method: :get) if @invitation.credential_delegate? %>
      </div>
    </div>
  </div>
</section>
