<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::AO_STEPS, 0)) if @invitation.authorized_official? %>
<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::CD_STEPS, 0)) if @invitation.credential_delegate? %>
<section>
  <div class="grid-row margin-x-neg-205 flex-justify-center">
    <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205">
      <div class="border-top border-base-lighter padding-top-4 desktop:border-0 desktop:padding-top-0">
        <div class="usa-prose">
          <% if @invitation.authorized_official? %>
            <p>You've been invited to register your organization in the Data at the Point of Care (DPC) API Portal. This invitation is for: <strong><%= @invitation.invited_email %></strong> at <strong><%= @organization.name %> (NPI <%= @organization.npi %>)</strong>. Make sure to use this email address when prompted.</p>
          <% end %>
          <% if @invitation.credential_delegate? %>
            <p>This invite is for <strong><%= @invitation.show_attributes['full_name'] %></strong> at <strong><%= @organization.name %></strong>. AO NAME assigned you as a Credential Delegate to setup and manage access to the Data at the Point of Care (DPC) API. Use the email address <strong><%= mail_to @invitation.invited_email, @invitation.invited_email %></strong> to complete your acceptance of this invite.</p>
          <% end %>
          <div class="usa-alert usa-alert--warning margin-bottom-4">
            <div class="usa-alert__body">
              <p class="usa-alert__text">
                This invitation will expire in <strong><%= @expiration %></strong>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-col-12 mobile-lg:grid-col-10 tablet:grid-col-8 desktop:grid-col-6 padding-x-205 margin-bottom-4">
      <div class="bg-white padding-y-3 padding-x-5 border border-base-lighter">
        <h2 class="margin-bottom-0">Before you get started</h2>
        <p>
          <% if @invitation.authorized_official? %>
            This registration will take about 5-10 minutes. To register your organization you must:
          <% end %>
          <% if @invitation.credential_delegate? %>
            This process will take about 5-10 minutes. To accept your invite as a Credential Delegate you must:
          <% end %>
          <ul class="usa-icon-list">
            <% @musts.each do |must| %>
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                <%= render Core::Icon::UswdsComponent.new('check_circle', additional_classes: @list_styles) %>
              </div>
              <div class="usa-icon-list__content">
                <%= must %>
              </div>
            </li>
            <% end %>
          </ul>
        </p>
        <%= render Core::Button::ButtonComponent.new(label: 'Begin registration',
            destination: accept_organization_invitation_path(@organization, @invitation),
                                                     additional_classes: ['start-component-button'],
            method: :get) if @invitation.authorized_official? %>
        <%= render Core::Button::ButtonComponent.new(label: 'Accept invitation',
            destination: confirm_cd_organization_invitation_path(@organization, @invitation),
                                                     additional_classes: ['start-component-button'],
            method: :get) if @invitation.credential_delegate? %>
      </div>
    </div>
  </div>
</section>
