<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::AO_STEPS, 4)) if @invitation.authorized_official? %>
<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::CD_STEPS, 3)) if @invitation.credential_delegate? %>
<div>
  <% if @invitation.credential_delegate? %>
    <div class="usa-alert usa-alert--success margin-bottom-4">
      <div class="usa-alert__body">
        <p class="usa-alert__text">You're now authorized to manage the DPC API for <%= @organization.name %> (NPI <%= @organization.npi %>).</p>
      </div>
    </div>
    <p>Thank you for accepting your invite. You can now manage your organization's credentials in the DPC Portal.</p>
  <% else %>
  <div class="usa-alert usa-alert--success margin-bottom-4">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= @organization.name %> is successfully registered with Data at the Point of Care.
      </p>
    </div>
  </div>
  <p>Thank you for registering.  Please complete the remaining steps:</p>
  <% end %>
  <ul>
      <% @musts.each do |must| %>
      <li class="margin-top-2"><%= must %></li>
      <% end %>
  </ul>
  <%= render Core::Button::ButtonComponent.new(label: 'Go to DPC Portal',
      destination: root_url,
      method: :get) %>
</div>
