<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::AO_STEPS, 3)) if @invitation.authorized_official? %>
<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::CD_STEPS, 3)) if @invitation.credential_delegate? %>
<div>
  <% if @invitation.credential_delegate? %>
    <p>Thank you for signing in, <%= @name %></p>

    <p>Now that we've confirmed your identity via Login.gov you can complete your acceptance of this invite.</p>
  <% else %>
  <div class="usa-alert usa-alert--success margin-bottom-4">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= @organization.name %> is successfully registered with Data at the Point of Care.
      </p>
    </div>
  </div>
  <p>Thank you for completing registration. You'll need to read and sign Terms of Service for organizations you manage. You can do this in your DPC Portal when you manage your organization.</p>
  <% end %>
  <%= render Core::Button::ButtonComponent.new(label: 'Go to DPC Portal',
      destination: root_url,
      method: :get) %>
</div>

