<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::AO_STEPS, 4)) if @invitation.authorized_official? %>
<%= render(Core::Navigation::StepIndicatorComponent.new(Invitation::CD_STEPS, 3)) if @invitation.credential_delegate? %>
<div>
  <% if @invitation.credential_delegate? %>
    <div class="usa-alert usa-alert--success margin-bottom-4">
      <div class="usa-alert__body">
        <p class="usa-alert__text">You're now authorized to manage the DPC API for <%= @organization.name %>.</p>
      </div>
    </div>
    <p>Thank you for accepting your invite. You can now setup and managage your organization's access to the API.</p>
  <% else %>
  <div class="usa-alert usa-alert--success margin-bottom-4">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= @organization.name %> is successfully registered with Data at the Point of Care.
      </p>
    </div>
  </div>
  <p>Thank you for registering.  Please complete the remaining steps:</p>
  <ul>
      <% @musts.each do |must| %>
      <li class="margin-top-2"><%= must %></li>
      <% end %>
  </ul>
  <% end %>
  <%= link_to 'Go to DPC Portal', root_url, class: 'usa-button margin-right-0' %>
</div>
