<a class="ds-c-skip-nav" href="#main">Skip to main content</a>

<nav class="navbar" id="navbar">
  <a class="site-logo" href="/">
    <%= image_tag("top-nav-heart.svg", alt: "Heart logo") %> <span class="site-logo-text">Data at the Point of Care</span>
  </a>


  <button id="topnav__show-button" class="ds-c-button ds-c-button--transparent ds-c-button--big topnav__show-button" type="button" aria-controls="topnav-wrap" aria-label="Show menu">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <use xlink:href="/admin/assets/solid.svg#bars"></use>
    </svg>
  </button>


  <% unless (controller_name == "sessions" || controller_name == "registrations") %>
  <div class="topnav-wrap" id="topnav-wrap">
    <button id="topnav__close-button" class="ds-c-button ds-c-button--transparent ds-c-button--big topnav__close-button" type="button"
aria-controls="topnav-wrap" aria-label="Close menu">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <use xlink:href="/admin/assets/solid.svg#times"></use>
      </svg>
    </button>
    <ul class="topnav">
      <li class="topnav__item">
        <%= link_to "Home", root_path, class: "topnav__link"  %>
      </li>

      <li class="topnav__item">
        <%= link_to "Documentation", root_path, class: "topnav__link"  %>
      </li>

      <li class="topnav__item">
        <%= link_to "Frequently Asked Questions", root_path, class: "topnav__link" %>
      </li>

      <li class="topnav__item">
        <a class="topnav__link" href="<%= destroy_internal_user_session_path %>"
            id="sign-out" data-method="delete" data-test="internal-user-signout">
            Sign out
        </a>
      </li>
    </ul>
  </div>
  <% end %>
</nav>
